/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    @apply text-base;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-smoothing: antialiased;
    min-width: 320px;
    @apply bg-black text-base font-sans-regular leading-normal;

    @screen md {
        @apply text-body;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
    outline: 0 !important;
}

/* Remove bold from browser defaults */
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
th {
    font-weight: normal;
}

*[disabled="disabled"],
button:disabled {
    cursor: not-allowed;
    opacity: 0.85;
}

// Horizontal rules
hr {
    @apply border-b border-grey-100 my-4;
}
