---
layout: page
meta_title: Drawers
meta_description: Drawers
title: Drawers
section: Components
tag: components
---

<p>Drawers can come from any direction of the document. Use the following classes on drawers to determine the direction they should be exposed from.</p>

<ul class="list-disc pl-8">
	<li><code>.drawer--left</code></li>
	<li><code>.drawer--right</code></li>
	<li><code>.drawer--top</code></li>
	<li><code>.drawer--bottom</code></li>
</ul>

<p>Each drawer can also specify the breakpoint it should "hide" at. The <code>sm</code>, <code>sm-md</code>, <code>md</code>, <code>md-lg</code>, and <code>lg</code> breakpoints can be used. To specify a breakpoint for a drawer to hide at, add a <code>data-hide-at="[breakpoint-name]"</code> attribute to it.</p>

<h2 class="section-heading">Basic drawer from the left</h2>

<p>Drawers are triggered by specifying the drawer ID in the <code>data-drawer</code> property.</p>

<div class="panel panel--stroke h-96 mb-8 md:overflow-x-auto md:overflow-y-hidden md:resize md:max-w-full md:pr-3">
	<div class="panel__section panel__section--flush h-full">
		<div class="w-full h-full">
			<iframe src="/components/drawers/drawer-from-left" frameborder="0" class="w-full h-full"></iframe>
		</div>
	</div>
</div>


{% highlight "html" %}
<!-- Drawer Trigger -->
<div class="p-2">
	<button class="js-drawer-trigger btn btn--outline" data-drawer="drawer-1">
        <i class="fa fa-bars"></i>
    </button>
</div>
{% endhighlight %}

<p>Drawers should go near the closing body tag.</p>

{% highlight "html" %}
<!-- Drawer -->
<div class="drawers js-drawers z-overlay">
    <div id="drawer-1" class="drawer js-drawer drawer--left z-menu" data-hide-at="lg">
        <div class="fixed bg-white w-full h-16 top-0 z-shell flex justify-between items-center border-b border-gray-200">
            <div class="font-sans-medium pl-6 leading-none flex-grow">Drawer Header</div>
            <button class="js-drawer-close-btn self-stretch h-16 px-6 flex items-center cursor-pointer z-shell"><i class="fal fa-times"></i></button>
        </div>
        <div class="absolute inset-0 h-full pt-16 w-full overflow-y-scroll scrolling-touch">
			<!-- Any content can go here -->
			<div class="p-6">
            	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores, adipisci tempora non odit nam, numquam quam excepturi consectetur saepe illum culpa eaque nulla molestiae magnam? Quas consectetur explicabo tempore?</p>
            	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores, adipisci tempora non odit nam, numquam quam excepturi consectetur saepe illum culpa eaque nulla molestiae magnam? Quas consectetur explicabo tempore?</p>
			</div>
        </div>
    </div>
</div>
{% endhighlight %}
