<div class="footer-wrapper">
    <footer id="footer" class="footer bg-grey-100 py-4">
        <div class="container flex justify-between">
            <div>&copy; Copyright BUNN 2018-2019</div>
            <div>version {{ site.version }}</div>
        </div>
    </footer>
</div>
