<div class="bg-white border-b py-4 border-grey-100 lg:fixed z-floating w-full">
	<div class="flex flex-row items-center justify-between w-full max-w-2xl mx-auto px-6">
		<div class="flex">
			{% include "partials/logo.njk" %}
		</div>
		<div class="flex">
			{% include 'partials/nav.njk' %}

			<div class="flex text-grey-400">
				v{{ site.version }}
				<div id="sidebar-open" class="flex ml-4 items-center lg:hidden" v-if="!menuIsOpen"
				     v-on:click="toggleMenu">
					<svg class="fill-current w-4 h-4 cursor-pointer text-grey" role="button"
					     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
						<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
					</svg>
				</div>
				<div id="sidebar-close" class="flex ml-4 items-center lg:hidden z-20" v-if="menuIsOpen"
				     v-on:click="toggleMenu">
					<svg class="fill-current w-4 h-4 cursor-pointer text-grey" role="button"
					     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
						<path
							d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"></path>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>
