.category-media {
    @apply mb-3 relative;

    @screen md {
        @apply pl-4;
    }

    &__image {
        @apply z-page min-w-full h-48;
        filter: brightness(65%);
        object-fit: cover;

        @screen xl {
            @apply h-64;
        }
    }

    &__content {
        @apply flex flex-col justify-center items-center absolute inset-0;
    }

    &__heading {
        @apply text-lg-3 text-white uppercase;

        @screen sm {
            @apply text-lg-5;
        }
    }

    &__heading-cta {
        @apply text-lg-4 text-white mb-2 relative;

        @screen sm {
            @apply text-lg-5;
        }

        &.category-1116,
        &.category-1117,
        &.category-1118,
        &.category-1119,
        &.category-1121,
        &.category-1122,
        &.category-1125,
        &.category-1126 {
            text-transform: uppercase;
        }

        &.category-1116:after,
        &.category-1117:after,
        &.category-1118:after,
        &.category-1119:after,
        &.category-1120:after,
        &.category-1121:after,
        &.category-1123:after,
        &.category-1124:after,
        &.category-1125:after,
        &.category-1126:after {
            content: "®";
            font-size: 20px;
            position: absolute;
            top: 2px;
        }

        &.category-1122:after {
            content: "™";
            font-size: 18px;
            position: absolute;
            top: 2px;
        }
    }

    &__cta {
        @apply mt-1 bg-brand-primary text-base text-white rounded-lg py-2 px-8 normal-case;

        &:hover {
            @apply bg-brand-primary-light-1;
        }
    }
}
