:root {
    --color-brand-primary-RGB: 0, 94, 184;
    --color-brand-primary-dark-1-RGB: 0, 79, 155;
    --color-brand-primary-dark-2-RGB: 0, 70, 137;

    --color-brand-primary: #005eb8;
    --color-brand-secondary: #000000;
    --color-brand-primary-light-1: #2776c2;
    --color-brand-primary-light-2: #4086c9;
    --color-brand-primary-dark-1: #004f9b;
    --color-brand-primary-dark-2: #004689;

    --color-gray-100: #f7f7f7;
    --color-gray-200: #e8e8e8;
    --color-gray-300: #e0e0e0;
    --color-gray-400: #cdcdcd;
    --color-gray-500: #a0a0a0;
    --color-gray-600: #777777;
    --color-gray-700: #444444;
    --color-gray-800: #222222;
    --color-gray-900: #1a1a1a;

    --color-declare: #f5aa38;
    --color-declare-light: #fdeace;
    --color-avert: #c5282d;
    --color-avert-light: #f6d5d6;
    --color-affirm: #3dc04d;
    --color-affirm-light: #d8f3dc;
    --color-inform: #005eb8;
    --color-inform-light: #cce5ff;
}

:root.gourmet {
    --color-brand-primary-RGB: 141, 115, 74;
    --color-brand-primary-dark-1-RGB: 100, 84, 58;
    --color-brand-primary-dark-2-RGB: 74, 56, 38;
    --color-brand-secondary-RGB: 164, 85, 45;
    --color-brand-primary: #8c734a;
    --color-brand-primary-light-1: #ae9875;
    --color-brand-primary-light-2: #dbc9ad;
    --color-brand-primary-light-3: #efe4d2;
    --color-brand-primary-light-4: #fffaf2;
    --color-brand-primary-dark-1: #64543a;
    --color-brand-primary-dark-2: #4a3826;
    --color-brand-secondary: #a4552d;
}
