/**
 * HEADINGS
 ========================================*/

/* Headings */
.heading-alpha,
.cms-content h1,
.cms-content .heading-alpha {
    @apply mb-4;
    @apply text-lg-3;
    line-height: 2.5rem;

    @screen lg {
        @apply text-lg-5;
        @apply mb-6;
        @apply font-sans-light;
        line-height: 4.25rem;
    }
}

.heading-beta,
.cms-content h2,
.cms-content .heading-beta {
    @apply mb-4;
    @apply text-lg-2;
    line-height: 2.125rem;

    @screen lg {
        @apply mt-12;
        @apply text-lg-4;
        @apply font-sans-light;
        line-height: 3.5rem;
    }
}

.heading-gamma,
.cms-content h3,
.cms-content .heading-gamma {
    @apply mb-4;
    @apply text-lg-1;
    @apply font-sans-medium;
    line-height: 1.75rem;

    @screen lg {
        @apply text-lg-3;
        @apply mt-10;
        line-height: 2.5rem;
    }
}

.heading-delta,
.cms-content h4,
.cms-content .heading-delta {
    @apply mb-4;
    @apply text-body;
    @apply font-sans-medium;
    line-height: 1.5rem;

    @screen lg {
        @apply text-lg-2;
        @apply mt-8;
        line-height: 2.125rem;
    }
}

.heading-epsilon,
.cms-content h5,
.cms-content .heading-epsilon {
    @apply mb-1;
    @apply text-base;
    @apply font-sans-demi;
    line-height: 1.5rem;

    @screen lg {
        @apply mb-2;
        @apply mt-8;
        @apply text-body;
        line-height: 1.5rem;
    }
}

.heading-zeta,
.cms-content h6,
.cms-content .heading-zeta {
    @apply mb-1;
    @apply text-sm-1;
    @apply font-sans-demi;

    @screen lg {
        @apply mb-2;
        @apply mt-6;
        @apply text-base;
    }
}

/**
 * DISPLAY
 ========================================*/
.text-display {
    line-height: 3rem;

    @screen lg {
        line-height: 4.75rem;
    }
}

.text-jumbo {
    line-height: 3rem;

    @screen lg {
        line-height: 4.75rem;
    }
}

/**
 * BODY TEXT
 ========================================*/

p,
ul,
ol {
    margin-bottom: 1.5em;
}

.lede,
p.lede {
    @apply text-body mb-6;
    line-height: 1.75rem;

    @screen lg {
        @apply text-lg-1 mb-8;
        line-height: 2rem;
    }
}

p.emphasis {
    &:before {
        @apply block bg-brand-primary mb-3;
        content: '';
        height: 4px;
        width: 44px;
    }
}

/* Links */
a {
    @apply text-brand-primary;

    &:hover {
        @apply text-brand-primary;
    }

    &.link--neutral {
        @apply text-gray-700;

        &:hover {
            @apply text-brand-primary;
        }
    }
}
