---
layout: page
meta_title: Brand
meta_description: Brand guidelines
title: Brand
section: Brand
---

Over 170 years ago, Jacob Bunn opened his grocery store in a developing Springfield, IL, USA, and a young Abe Lincoln was one of the first customers. That venture grew into Bunn Capitol Wholesale Grocery Company and was later managed by George R. Bunn who founded a beverage equipment division in the late 1950's. Bunn-O-Matic Corporation was officially incorporated as a separate entity in 1963, and since that time has been at the forefront of dispensed beverage equipment manufacturers with a long list of innovations.
<br><br>
Today, the company remains privately-held and family-owned. Arthur "Hy" Bunn has been the President and CEO since 1988, assuming overall management and leadership of the worldwide beverage equipment company that his father founded. During his tenure, the BUNN portfolio has evolved from a coffee focus to include dispensed beverage equipment for espresso, tea, juice, granita, filtered water and many other specialty beverages. Founded upon five generations of family entrepreneurship, BUNN has become a partner you can count on for profitable, reliable beverage equipment and outstanding post-purchase support wherever customers are served.
