---
layout: default
meta_title: Home
meta_description: BUNN Design System
body_class: home
title: BUNN Design System
---

<div class="section text-center bg-brand-primary">
	<div class="container max-w-4xl">
		<h1 class="heading-alpha text-center text-white">{{ title }}</h1>  
				
		<p class="text-white">BUNN Digital Product Design System</p>
	</div>
</div>

<div class="section pt-0">
	<div class="container max-w-4xl">

		<h2 class="heading-beta">Getting started</h2>

		<p>Getting started with web projects is as easy as adding the following CSS reference to your project, as well as deploying font files to a <code>/fonts</code> directory on the web server. Licenced font files can be included with any project that is sponsored by BUNN&reg; or hosted at bunn.com.
		</p>
		
	{% highlight "html" %}
	<link rel="stylesheet" href="https://resource.bunn.com/assets/common/design/v0.0.3/main.css" />
	{% endhighlight %}

		<h2 class="heading-beta">Configuration</h2>
		<p>We've made slight adjustments to the <code>tailwind.js</code> configuration file that is unique to our design system; pimarily in the area of typography and color. Below is the current configuration file used for BUNN Design.</p>

		<p>View the <a href="/tailwind.config.js">tailwind.config.js</a> source file.</p>
	</div>
</div>
