---
layout: default
meta_title: Home
meta_description: BUNN Design System
body_class: home
title: BUNN Design System
---

<div class="container">

    <h1>{{ title }}</h1>  
            
    <p class="lede">The BUNN digital design system uses <a href="https://tailwindcss.com/docs/what-is-tailwind/" target="_blank">Tailwind CSS</a>, a utility-first CSS framework.</p>

    <h2>Getting started</h2>

    <p>Getting started with web projects is as easy as adding the following CSS reference to your project, as well as deploying font files to a <code>/fonts</code> directory on the web server. Licenced font files can be included with any project that is sponsored by BUNN&reg; or hosted at bunn.com.
    </p>
    
{% highlight "html" %}
<link rel="stylesheet" href="https://resource.bunn.com/assets/common/design/v0.0.3/main.css" />
{% endhighlight %}

    <h2>Configuration</h2>
    <p>We've made slight adjustments to the <code>tailwind.js</code> configuration file that is unique to our design system; pimarily in the area of typography and color. Below is the current configuration file used for BUNN Design.</p>

    <p>View the <a href="/tailwind.config.js">tailwind.config.js</a> source file.</p>
</div>
