.breadcrumb {
    @apply text-base;
    &__item {
        &-link {
            @apply inline-block text-black pl-1;

            &:before {
                content: "/";
                @apply pr-2;
            }

            &:hover {
                span {
                    @apply underline;
                }
            }

            &-home {
                @apply pl-0;
                &:before {
                    content: "";
                    @apply pr-0;
                }
            }

            /* --  Hide Category Groups -- */

            &[data-category-id="1003"],
            &[data-category-id="1004"],
            &[data-category-id="1005"],
            &[data-category-id="1006"] {
                display: none;
            }
        }

        &-label {
            @apply inline-block text-gray-700 pl-1;
            &:before {
                content: "/";
                @apply pr-2 text-black;
            }
        }
    }
}
