.nav-menu-item {
    a {
        text-decoration: none;
        color: black;
        //apply text-black;
    }
}

.nav-menu-list-items {
    @apply mb-0;
}

.nav-menu-trigger {
    > i {
        float: right;

        @screen lg {
            float: none;
        }
    }
}

.nav-menu-item-icon {
    float: right;
}

.nav-menu-dropdown-content {
    display: none;
    padding-bottom: 24px;
    text-align: left;
    @apply z-menu;

    .nav-menu-list-item-label > span {
        @screen lg {
            display: block;
            padding-right: 32px;
            margin-bottom: 8px;
            font-weight: 600;
            font-size: 0.8em;
        }
    }

    .nav-menu-list-item-link > a {
        display: block;
        padding: 8px 16px;

        @screen lg {
            padding: 6px 32px 6px 16px;
        }
    }
}

//hybrid menus (mobile accordions and desktop dropdowns)
.nav-menu--hybrid {
    @screen lg {
        .nav-menu-dropdown-content {
            background: white;
            box-shadow: 0 4px 12px 0 rgba(black, 0.2);
            top: 100%;
            margin-top: 1px;
        }
    }

    .nav-menu-item-icon {
        @screen lg {
            float: none;
        }
    }

    //Dropdown as a list
    .nav-menu-dropdown-content--list {
        @screen lg {
            padding: 16px 0;
            min-width: 240px;
        }
    }

    //Dropdown as a mega menu
    .nav-menu-dropdown-content--mega {
        @screen lg {
            padding: 48px 0;
            justify-content: center;

            .nav-menu-list-item-label > span,
            .nav-menu-list-item-link > a {
                padding-right: 32px;
                padding-left: 16px;
            }
        }
    }
}

//States
.nav-menu--active {
    .nav-menu-item-icon {
        transform: rotateX(180deg);
    }

    .nav-menu-dropdown-content {
        display: block;

        &--list {
            display: block;
        }

        &--mega {
            @screen lg {
                display: flex;
            }
        }
    }
}

//Families
.nav-menu-equipment-families {
    @screen lg {
        columns: 2;

        li {
            -webkit-column-break-inside: avoid;
        }
    }
}

//List items
.nav-menu-list-item-label {
    letter-spacing: 0.05em;
}
