.panel {
    // Defaults
    background: white;

    &__header,
    &__section,
    &__footer {
        @apply py-4 px-6;
    }

    > :last-child {
        border-bottom: none;
        margin-bottom: 0;
    }

    + .panel {
        @apply mt-4;
    }

    // Alternative styles
    &--stroke {
        @apply border border-gray-200;

        .panel__header,
        .panel__section,
        .panel__footer {
            @apply border-b border-gray-200;
        }

        .panel__action--single:hover {
            @apply bg-gray-200;
        }

        .panel__action--bar {
            .panel__action__item {
                @apply border-r border-gray-200;

                &:last-child {
                    border: none;
                }

                &:hover {
                    @apply bg-gray-200;
                }
            }
        }
    }

    &--raise {
        @apply shadow;
    }

    &--rounded {
        @apply rounded;

        > :first-child {
            @apply rounded-t;
        }

        > :last-child {
            @apply rounded-b;

            .panel__action--single .panel__action__item {
                @apply rounded-b;
            }

            .panel__action--bar {
                > :first-child,
                > :last-child {
                    @apply rounded-b;
                }
            }
        }
    }

    // Actions
    &__action--single {
        display: flex;
        align-items: stretch;

        .panel__action__item-text {
            flex-grow: 1;
            text-align: left;
            display: flex;
            align-items: center;
        }

        .panel__action__item-icon {
            width: 44px;
            text-align: center;
            font-size: 2rem;
        }
    }

    // Multiple actions
    &__action--bar {
        display: flex;
        flex-wrap: nowrap;
        padding: 0;

        .panel__action__item {
            color: inherit;
            text-align: center;
            flex-grow: 1;
            flex-basis: 0; //make all items same width
            @apply py-4 px-8 text-brand-primary;

            &:hover {
                @apply bg-gray-200;
            }
        }
    }

    // Headers and sections in different panel styles
    &--fill-light,
    &--fill-dark,
    &--fill-contrast {
        .panel__header,
        .panel__section,
        .panel__footer {
            margin-bottom: 1px;
        }

        .panel__action--single {
            &:hover {
                opacity: 0.8;
            }
        }

        .panel__action--bar {
            .panel__action__item {
                @apply border-r border-white;

                &:hover {
                    background: hsla(0, 0%, 100%, 0.2);
                    opacity: 0.8;
                }

                &:last-child {
                    border: none;
                }
            }
        }
    }

    // Fill all sections in a panel with the same background color
    &--fill-light {
        .panel__header,
        .panel__section,
        .panel__footer {
            @apply bg-gray-100;
        }
    }

    // Handle dark filled panels
    &--fill-contrast {
        @apply text-white;

        .panel__action--single {
            @apply text-white;
        }

        .panel__action--bar {
            .panel__action__item {
                @apply text-white;
            }
        }
    }

    &--fill-dark {
        .panel__header,
        .panel__section,
        .panel__footer {
            @apply bg-gray-200;
        }
    }

    &--fill-contrast {
        .panel__header,
        .panel__section,
        .panel__footer {
            @apply bg-brand-primary-dark-2;
        }
    }
}

// Individual panel sections
.panel__header,
.panel__section,
.panel__footer {
    // Section density
    &--loose {
        @apply p-8;
    }

    // Section styles
    &--raise {
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
        @apply z-shell;
    }

    &--fill-light {
        @apply bg-gray-200;
    }

    &--fill-dark {
        @apply bg-gray-800 text-white;
    }

    &--fill-contrast {
        @apply bg-brand-primary-dark-2 text-white;
    }
}
