@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin fadein($duration: 0.5s) {
    -webkit-animation: fadein $duration;
    animation: fadein $duration;
}
