---
layout: default
---

{% if section == 'Brand' %}
    {% set collection = collections.brand %}
{% elif section == 'Principles' %}
    {% set collection = collections.princples %}
{% elif section == 'Components' %}
    {% set collection = collections.components %}
{% endif %}

<div class="flex items-stretch w-full max-w-2xl mx-auto bg-white pb-16 lg:pb-32 px-6 items-center">
    <div class="hidden lg:block lg:w-1/4 lg:pt-8">
        {% for page in tag  %}
            <a href="{{ page.url }}">{{ page.data.title }}</a><br>
        {% endfor %}
    </div>

    <div class="flex w-full lg:w-3/4">
        <div class="max-w-full w-full">
            <h1>{{ title }}</h1>

            {{ content | safe }}
        </div>        
    </div>
</div>
