---
layout: default
---

{% if section == 'Brand' %}
    {% set collection = collections.brand %}
{% elif section == 'Components' %}
    {% set collection = collections.componentsSorted %}
{% endif %}

<div class="flex items-stretch w-full mx-auto bg-white pb-16 lg:pb-32">
    <div class="hidden md:block md:w-1/4 lg:w-1/5 px-8 relative">
        <div class="md:fixed h-full w-full">
            <div class="text-sm-1 font-sans-medium mb-2 uppercase text-grey-300 lg:pt-6">{{ section }}</div>
            {% for entry in collection  %}
                <a href="{{ entry.url }}" class="block py-1{% if page.url == entry.url %} text-brand-primary font-sans-demi{% else %} text-grey-500{% endif %}">{{ entry.data.title }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="w-full md:w-3/4 lg:w-4/5">
        <div class="max-w-2xl w-full m-auto px-8 lg:py-8">
            <h1 class="heading-alpha">{{ title }}</h1>

            {{ content | safe }}
        </div>        
    </div>
</div>
