<div class="h-12">
	<footer class="py-4 text-white">
		<div class="container flex justify-between text-sm-1">
			<div>&copy; Copyright BUNN 2018-2019</div>
			<div>version {{ pkg.version }}</div>
		</div>
	</footer>
</div>
