<div class="bg-white border-b border-gray-200 py-4 md:py-0 md:h-16 lg:fixed z-floating w-full flex flex-column md:flex-row">
	<div class="md:flex flex-row items-center w-full mx-auto px-6">
		<div class="flex">
			{% include "partials/logo.njk" %}
		</div>
		
		{% include 'partials/nav.njk' %}
		
	</div>
</div>
