<div class="bg-white border-b border-gray-200 py-4 md:py-0 md:h-16 lg:fixed z-floating w-full flex flex-column md:flex-row">
	<div class="md:flex flex-row items-stretch w-full mx-auto px-6 md:justify-between">
		<div class="flex items-center justify-center">
			{% include "partials/logo.njk" %}
		</div>
		
		{% include 'partials/nav.njk' %}
		
	</div>
</div>
