---
layout: default
meta_title: Image Feature
meta_description: Image Feature
title: Image Feature
section: Modules
tag: modules
---

<div class="container py-8">

	<h2 class="section-heading">Single Feature with image on left</h2>

	<div class="md:flex md:items-stretch md:flex-nowrap ">
		<div class="md:flex-1">
			<img class="" src="https://source.unsplash.com/600x600?architecture" alt="">
		</div>
		<div class="py-6 md:flex-1 md:flex md:items-center">
			<div class="md:px-12">
				<div class="heading-gamma">Feature Title</div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, natus nemo tempore molestiae suscipit veritatis illo, assumenda vel quisquam qui ullam odio earum sint optio totam sed. Rem, minus excepturi.</p>
			</div>
		</div>
	</div>

{% highlight "html" %}
<div class="md:flex md:items-stretch md:flex-nowrap ">
	<div class="md:flex-1">
		<img class="" src="https://source.unsplash.com/600x600?architecture" alt="">
	</div>
	<div class="py-6 md:flex-1 md:flex md:items-center">
		<div class="md:px-12">
			<div class="heading-gamma">Feature Title</div>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, natus nemo tempore molestiae suscipit veritatis illo, assumenda vel quisquam qui ullam odio earum sint optio totam sed. Rem, minus excepturi.</p>
		</div>
	</div>
</div>
{% endhighlight %}

	<h2 class="section-heading">Image on right</h2>

	<div class="md:flex md:items-stretch md:flex-nowrap md:flex-row-reverse">
		<div class="md:flex-1">
			<img class="" src="https://source.unsplash.com/600x600?nature" alt="">
		</div>
		<div class="py-6 md:flex-1 md:flex md:items-center">
			<div class="md:px-12">
				<div class="heading-gamma">Feature Title</div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, natus nemo tempore molestiae suscipit veritatis illo, assumenda vel quisquam qui ullam odio earum sint optio totam sed. Rem, minus excepturi.</p>
			</div>
		</div>
	</div>

{% highlight "html" %}
<div class="md:flex md:items-stretch md:flex-nowrap md:flex-row-reverse">
	<div class="md:flex-1">
		<img class="" src="https://source.unsplash.com/600x600?nature" alt="">
	</div>
	<div class="py-6 md:flex-1 md:flex md:items-center">
		<div class="md:px-12">
			<div class="heading-gamma">Feature Title</div>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, natus nemo tempore molestiae suscipit veritatis illo, assumenda vel quisquam qui ullam odio earum sint optio totam sed. Rem, minus excepturi.</p>
		</div>
	</div>
</div>
{% endhighlight %}

</div>
