---
layout: default
meta_title: Speed Brew Classes
meta_description: Speed Brew Classes
title: Speed Brew Classes
section: Modules
tag: modules
---

<div class="container py-8">
	<div class="speed-brew-classes flex flex-wrap items-stretch -mx-px">


		<a href="" class="block speed-brew-class w-full overflow-hidden mb-px md:mb-px md:w-1/2 lg:w-1/4 lg:relative">
			<div class="bg-black flex flex-col h-full md:mx-px overflow-hidden">
				<div class="speed-brew-class__title py-4 px-6 text-center text-white uppercase tracking-wider text-lg-1 font-sans-medium">
					Platinum
				</div>

				<div class="speed-brew-class__product bg-none min-h-64 bg-no-repeat flex-grow relative text-center pt-8 lg:p-0" style="background-image: url(/images/placeholders/speed-brew-platinum.png);">
					<div class="absolute lg:static lg:hidden bg-black inset-0"></div>
					<img src="/images/placeholders/speed-brew-platinum.png" alt="" class="h-64 m-auto relative lg:hidden">
				</div>

				<div class="speed-brew-class__description text-white p-8 pb-12 lg:pb-8 lg:absolute lg:bottom-0">
					<div class="relative text-center lg:text-left">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem blanditiis ad velit obcaecati similique sunt sequi, doloribus delectus rerum mollitia dolorum, quo earum saepe incidunt eum ullam veritatis labore impedit?</p>
						
						<div class="text-center">
							<div class="btn btn--primary lg:w-full">Shop Platinum</div>
						</div>
					</div>
				</div>
			</div>
		</a>


		<a href="" class="block speed-brew-class w-full overflow-hidden mb-px md:mb-px md:w-1/2 lg:w-1/4 lg:relative">
			<div class="speed-brew-class__content bg-black flex flex-col h-full md:mx-px overflow-hidden">
				<div class="speed-brew-class__title py-4 px-6 text-center text-white uppercase tracking-wider text-lg-1 font-sans-medium">
					Elite
				</div>

				<div class="speed-brew-class__product bg-none min-h-64 bg-no-repeat flex-grow relative text-center pt-8 lg:p-0" style="background-image: url(/images/placeholders/speed-brew-elite.png);">
					<div class="absolute lg:static lg:hidden bg-black inset-0"></div>
					<img src="/images/placeholders/speed-brew-elite.png" alt="" class="h-64 m-auto relative lg:hidden">
				</div>

				<div class="speed-brew-class__description text-white p-8 pb-12 lg:pb-8 lg:absolute lg:bottom-0">
					<div class="relative text-center lg:text-left">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem blanditiis ad velit obcaecati similique sunt sequi, doloribus delectus rerum mollitia dolorum, quo earum saepe incidunt eum ullam veritatis labore impedit?</p>
						
						<div class="text-center">
							<div class="btn btn--primary lg:w-full">Shop Elite</div>
						</div>
					</div>
				</div>
			</div>
		</a>


		<a href="" class="block speed-brew-class w-full overflow-hidden mb-px md:mb-px md:w-1/2 lg:w-1/4 lg:relative">
			<div class="bg-black flex flex-col h-full md:mx-px overflow-hidden">
				<div class="speed-brew-class__title py-4 px-6 text-center text-white uppercase tracking-wider text-lg-1 font-sans-medium">
					Select
				</div>

				<div class="speed-brew-class__product bg-none min-h-64 bg-no-repeat flex-grow relative text-center pt-8 lg:p-0" style="background-image: url(/images/placeholders/speed-brew-select.png);">
					<div class="absolute lg:static lg:hidden bg-black inset-0"></div>
					<img src="/images/placeholders/speed-brew-select.png" alt="" class="h-64 m-auto relative lg:hidden">
				</div>

				<div class="speed-brew-class__description text-white p-8 pb-12 lg:pb-8 lg:absolute lg:bottom-0">
					<div class="relative text-center lg:text-left">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem blanditiis ad velit obcaecati similique sunt sequi, doloribus delectus rerum mollitia dolorum, quo earum saepe incidunt eum ullam veritatis labore impedit?</p>
						
						<div class="text-center">
							<div class="btn btn--primary lg:w-full">Shop Select</div>
						</div>
					</div>
				</div>
			</div>
		</a>


		<a href="" class="block speed-brew-class w-full overflow-hidden mb-px md:mb-px md:w-1/2 lg:w-1/4 lg:relative">
			<div class="bg-black flex flex-col h-full md:mx-px overflow-hidden">
				<div class="speed-brew-class__title py-4 px-6 text-center text-white uppercase tracking-wider text-lg-1 font-sans-medium">
					Classic
				</div>

				<div class="speed-brew-class__product bg-none min-h-64 bg-no-repeat flex-grow relative text-center pt-8 lg:p-0" style="background-image: url(/images/placeholders/speed-brew-classic.png);">
					<div class="absolute lg:static lg:hidden bg-black inset-0"></div>
					<img src="/images/placeholders/speed-brew-classic.png" alt="" class="h-64 m-auto relative lg:hidden">
				</div>

				<div class="speed-brew-class__description text-white p-8 pb-12 lg:pb-8 lg:absolute lg:bottom-0">
					<div class="relative text-center lg:text-left">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem blanditiis ad velit obcaecati similique sunt sequi, doloribus delectus rerum mollitia dolorum, quo earum saepe incidunt eum ullam veritatis labore impedit?</p>
						
						<div class="text-center">
							<div class="btn btn--primary lg:w-full">Shop Classic</div>
						</div>
					</div>
				</div>
			</div>
		</a>


	</div>
</div>
