.pagination {
    @apply py-8;

    &__item {
        display: inline-block;
        margin-left: 2px;
        margin-right: 2px;

        &.active .pagination__item-link {
            @apply bg-brand-primary text-white border-brand-primary;
        }

        &-label,
        &-link {
            display: block;
            padding: 8px 16px;
            border-radius: 4px;
        }

        &-link {
            @apply border border-gray-300 text-brand-primary;

            &:hover {
                @apply bg-gray-200;
            }

            &--disabled {
                @apply bg-gray-200 border-gray-300;
                color: #888;

                &:hover {
                    color: #888;
                    @apply bg-gray-200 border-gray-300;
                }
            }
        }
    }
}
