@keyframes fadeInSlideDown {
    from {
        opacity: 0;
        transform: translate3d(0, -8px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}

// Default styles for popup menus and when attached directly to body
.popup-menu__content-container {
    transform: translate3d(0, -10px, 0);
    opacity: 0;
    min-width: 280px;

    &.visible {
        animation: fadeInSlideDown 0.15s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
}

.popup-menu__content {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.25);

    &-body {
        max-height: 420px;
        @apply overflow-y-scroll;
    }
}

// Hybrid popup menus get appended to the body on mobile
body > .popup-menu--hybrid {
    @apply fixed z-menu inset-0 top-0 m-6;

    .popup-menu__content-body {
        max-height: none;
    }
}

// Additional styles when attached to the trigger's containing element
.popup-menu {

    .dropdown-open {
        text-decoration: none;
    }

    .popup-menu__content-container {
        left: auto;
        right: 0;
        transform: translate3d(0, 0, 0);

        @screen md {
            width: auto;
            min-width: 300px;
        }
    
        @screen lg {
            max-width: 90%;
        }
    
        //modifiers
        &[class*="caret"] {
            &:before {
                content: "";
                display: block;
                width: 0px;
                height: 0px;
                position: absolute;
            }
        }
    
        &.caret-top-right {
            &:before {
                right: 20px;
                top: -16px;
                border: 8px solid transparent;
                border-bottom-color: white;
            }
        }
    }
}

.link-menu {

    &--block-links {
        padding: 0;

        li {
            display: block;

            &:last-child a {
                border: none;
            }

            a {
                display: block;
                line-height: 1;
                border-bottom: 1px solid #eaeaea;

                &:hover {
                    border-color: #005cb9;
                    color: white;
                    background: #005cb9;
                }
            }
        }
    }
}
