---
layout: page
meta_title: Alpha
meta_description: Alpha
title: Alpha
section: Utilities
tag: utilities
---

<h2 class="section-heading">Alphas</h2>

<p class="font-sans-demi">Black</p>
<div class="sm:flex flex-wrap mb-8 -mx-2">
	{% for color in alphasBlack %}
	<div class="w-full md:w-1/5 text-center">
		<div class="m-2 border border-gray-200">
			<div class="w-full h-16 bg-{{color.swatch}} text-black">
				&nbsp;
			</div>
			<div class="text-sm-1 text-gray-500 p-2">
				{{ color.name }}
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<p class="font-sans-demi">White</p>
<div class="sm:flex flex-wrap mb-8 -mx-2 bg-black">
	{% for color in alphasWhite %}
	<div class="w-full md:w-1/5 text-center">
		<div class="m-2 border border-gray-700">
			<div class="w-full h-16 bg-{{color.swatch}} text-black">
				&nbsp;
			</div>
			<div class="text-sm-1 text-gray-500 py-2">
				{{ color.name }}
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<p class="font-sans-demi">Brand</p>
<div class="sm:flex flex-wrap mb-8 -mx-2">
	{% for color in alphasBrand %}
	<div class="w-full md:w-1/5 text-center">
		<div class="m-2 border border-gray-200">
			<div class="w-full h-16 bg-{{color.swatch}} text-black">
				&nbsp;
			</div>
			<div class="text-sm-1 text-gray-500 py-2">
				{{ color.name }}
			</div>
		</div>
	</div>
	{% endfor %}
</div>

