---
layout: page
meta_title: Scale
meta_description: Scale
title: Scale
section: Utilities
tag: utilities
---

<h2 class="section-heading">Scale</h2>

<p>The scale demos below are using <code>.transition-all-02s-ease</code></p>

<p class="font-sans-demi">Scale Up</p>
<div class="flex flex-wrap mb-8">
	<div class="m-4">
		<div class="h-20 w-20 bg-gray-500 transition-all-02s-ease hover:scale-101"></div>
		<div class="p-2 text-center">1.01</div>
		<div class="text-gray-500">scale-101</div>
	</div>
	<div class="m-4">
		<div class="h-20 w-20 bg-gray-500 transition-all-02s-ease hover:scale-102"></div>
		<div class="p-2 text-center">1.02</div>
		<div class="text-gray-500">scale-102</div>
	</div>
	<div class="m-4">
		<div class="h-20 w-20 bg-gray-500 transition-all-02s-ease hover:scale-103"></div>
		<div class="p-2 text-center">1.03</div>
		<div class="text-gray-500">scale-103</div>
	</div>
	<div class="m-4">
		<div class="h-20 w-20 bg-gray-500 transition-all-02s-ease hover:scale-110"></div>
		<div class="p-2 text-center">1.10</div>
		<div class="text-gray-500">scale-110</div>
	</div>
	<div class="m-4">
		<div class="h-20 w-20 bg-gray-500 transition-all-02s-ease hover:scale-120"></div>
		<div class="p-2 text-center">1.20</div>
		<div class="text-gray-500">scale-120</div>
	</div>
	<div class="m-4">
		<div class="h-20 w-20 bg-gray-500 transition-all-02s-ease hover:scale-130"></div>
		<div class="p-2 text-center">1.30</div>
		<div class="text-gray-500">scale-130</div>
	</div>
</div>

<p class="font-sans-demi">Scale Down</p>
<div class="flex flex-wrap mb-8">
	<div class="m-4">
		<div class="h-20 w-20 bg-gray-500 transition-all-02s-ease hover:scale-090"></div>
		<div class="p-2 text-center">0.90</div>
		<div class="text-gray-500">scale-090</div>
	</div>
	<div class="m-4">
		<div class="h-20 w-20 bg-gray-500 transition-all-02s-ease hover:scale-080"></div>
		<div class="p-2 text-center">0.80</div>
		<div class="text-gray-500">scale-080</div>
	</div>
	<div class="m-4">
		<div class="h-20 w-20 bg-gray-500 transition-all-02s-ease hover:scale-070"></div>
		<div class="p-2 text-center">0.70</div>
		<div class="text-gray-500">scale-070</div>
	</div>
	<div class="m-4">
		<div class="h-20 w-20 bg-gray-500 transition-all-02s-ease hover:scale-060"></div>
		<div class="p-2 text-center">0.60</div>
		<div class="text-gray-500">scale-060</div>
	</div>
	<div class="m-4">
		<div class="h-20 w-20 bg-gray-500 transition-all-02s-ease hover:scale-050"></div>
		<div class="p-2 text-center">0.50</div>
		<div class="text-gray-500">scale-050</div>
	</div>
</div>
