---
layout: page
meta_title: Variants
meta_description: Variants
title: Variants
section: Utilities
tag: utilities
---

<h2 class="section-heading">Group Hover</h2>

<p>Change a child element by hovering on its parent container</p>

<div class="group">
	<div class="p-4 bg-gray-300 group-hover:bg-brand-primary transition-all-02s-ease"></div>
</div>

<h2 class="section-heading">Group Active</h2>

<p>Change a child element by adding an active class to its parent container</p>

<div class="group active">
	<div class="p-4 bg-gray-300 group-active:bg-brand-primary transition-all-02s-ease"></div>
</div>



