---
layout: page
meta_title: Variants
meta_description: Variants
title: Variants
section: Utilities
tag: utilities
---

<h2 class="section-heading">Group Hover</h2>

<p>Change child elements by hovering on its parent container</p>

<div class="group">
	<div class="p-4 mb-px bg-gray-300 group-hover:bg-brand-primary transition-all-02s-ease"></div>
	<div class="p-4 mb-px bg-gray-300 group-hover:bg-brand-primary-light-2 transition-all-02s-ease"></div>
	<div class="p-4 mb-px bg-gray-300 group-hover:bg-brand-primary-dark-2 transition-all-02s-ease"></div>
</div>

<h2 class="section-heading">Group Active</h2>

<p>Change child elements by adding or toggling an <code>.active</code> class on a parent element that also has a <code>.group</code> class.</p>

<div class="group active">
	<div class="p-4 mb-px bg-gray-300 group-active:bg-brand-primary transition-all-02s-ease"></div>
	<div class="p-4 mb-px bg-gray-300 group-active:bg-brand-primary-light-2 transition-all-02s-ease"></div>
	<div class="p-4 mb-px bg-gray-300 group-active:bg-brand-primary-dark-2 transition-all-02s-ease"></div>
</div>



