.accordion__title {
    text-overflow: ellipsis;
    white-space: nowrap;

    .open & {
        @apply text-brand-primary border-brand-primary;
    }
}

.accordion__content {
    display: none;
}

.accordion--variantA {
    @apply border-b-2 border-gray-300;

    .accordion__title {
        @apply border-t-2 border-gray-300 px-4;
    }

    .open .accordion__title {
        @apply bg-gray-100 border-brand-primary text-brand-primary;
    }
}

.accordion-images {
    @apply flex items-start pb-8;

    @screen md {
        @apply pt-4;
    }

    img {
        display: none;
        opacity: 0;
        margin-right: auto;
        margin-left: auto;
        max-height: 420px;
        animation: fadein .5s linear;

        &.active {
            display: block;
            opacity: 1;
        }
    }
}

.content-expand {
    @apply overflow-hidden relative mb-3;
    transition: max-height 0.2s ease-out;
    max-height: 240px;

    &:after {
        @apply absolute bottom-0 left-0 w-full h-24;
        content: '';
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.77) 45%, rgba(255, 255, 255, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    }

    &.open {
        transition: max-height 0.2s ease-in;

        &:after {
            opacity: 0;
        }
    }
}

.content-expand-toggle {
    @apply text-brand-primary font-sans-demi cursor-pointer;
}
