/* Button Bar
 *
 * Stacked on mobile, horizontal bar on desktop
 *
 */

.btn-bar {
    
    .btn {
        @apply mb-2 w-full;
    }
    
    @screen sm {
        display: flex;

        .btn {
            border-radius: 0;
            margin-bottom: 0;
            margin-right: 1px;
            width: auto;

            &:last-child {
                margin-right: 0;
            }
        }
        
    }

    &--scroll {
        display: flex;
        white-space: nowrap;
        overflow-x: auto;
        -ms-overflow-style: none;  /* IE 10+ */
        overflow: -moz-scrollbars-none;  /* Firefox */

        .btn {
            border-radius: 0;
            margin-right: 1px;

            &:first-child {
                @apply rounded-t-none rounded-l;
            }
            
            &:last-child {
                @apply rounded-b-none rounded-r;
            }
            
            &:only-child {
                @apply rounded;
            }
        }
        &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }
    }
    
    /* Rounded left and right button edges when not in flush button bar */
    &:not(.btn-bar--flush) {
        @apply p-0;
        
        @screen sm {
            .btn {
                
                &:first-child {
                    @apply rounded-t-none rounded-l;
                }
                
                &:last-child {
                    @apply rounded-b-none rounded-r;
                }
                
                &:only-child {
                    @apply rounded;
                }
            }
        }
    }

    &--full {
        border: none;
    }
    
    &--full,
    &--flush {
        
        .btn {
            width: 100%;
            
            &--stroke,
            &--outline {
                margin-bottom: 0;
                
                + .btn {
                    margin-top: -1px;

                    @screen sm {
                        margin-top: 0;
                    }
                }
            }
        }
        
        @screen sm {
            
            .btn {
                flex-grow: 1;
                width: auto;
            }
        }
    }

    &--flush {
        .btn {
            margin-bottom: 1px;
        }

        &.btn-bar--outline,
        &.btn-bar--stroke {
            .btn {
                margin-bottom:  0;
            }
            
            &.btn-bar--scroll .btn {
                &:first-child {
                    border-left: 0;
                }

                &:last-child {
                    border-right: 0;
                }
            }
        }
        
        &.btn-bar--outline.btn-bar--scroll {
            @apply border-l border-r border-brand-primary;
        }
        
        &.btn-bar--stroke.btn-bar--scroll {
            @apply border-l border-r border-gray-200;
        }
        
        .btn,
        &.btn-bar--scroll .btn {
            border-radius: 0;
        }
    }

    &--outline,
    &--stroke {

        &.btn-bar--scroll {
            .btn:not(:last-child) {
                margin-right: -1px;
            }
        }

        @screen sm {

            .btn:not(:last-child) {
                margin-right: -1px;
            }
        }
    }
}
