.region-media,
.category-media,
.search-media {
    &__image {
        @apply z-page min-w-full;
        filter: brightness(65%);
        object-fit: cover;
        height: 12rem;

        @screen lg {
            height: 14rem;
        }
    }

    &__content {
        @apply flex flex-col justify-center items-center absolute inset-0;

        .btn--small {
            @apply px-6;
        }
    }

    &__heading {
        @apply text-lg-1 md:text-lg-2 lg:text-lg-3 text-white uppercase text-center;

        @screen md {
            /* @apply text-lg-2; */
        }

        @screen lg {
            /* @apply text-lg-3; */
        }
    }

    &__heading-cta {
        @apply sm:text-lg-3 text-lg-2 text-white mb-2 relative;

        @screen sm {
            /* @apply text-lg-3; */
        }
    }
}
.category-media {
    &__heading-cta {
        &.category-1116,
        &.category-1117,
        &.category-1118,
        &.category-1119,
        &.category-1121,
        &.category-1122,
        &.category-1125,
        &.category-1126 {
            text-transform: uppercase;
        }
    }
}
.region-media {
    height: 14rem;
    @screen lg {
        height: 20rem;
    }
    &__image {
        -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
        -o-animation: fadein 0.5s; /* Opera < 12.1 */
        animation: fadein 0.5s;
        height: 14rem;

        @screen lg {
            height: 20rem;
        }
    }
}
