body.drawer-open {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.drawers {
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    will-change: opacity;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);

    .drawer-open & {
        pointer-events: auto;
        opacity: 1;
    }
}

.drawer {
    position: fixed;
    transition: all 0.2s ease-in;
    will-change: transform;
    background: white;

    /* Drawer positions */
    &--left,
    &--right {
        top: 0;
        width: 90%;
        max-width: 400px;
        height: 100vh;
    }

    &--left {
        left: 0;
        transform: translateX(-100%);

        &.drawer--open {
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
        }
    }

    &--right {
        right: 0;
        transform: translateX(100%);

        &.drawer--open {
            box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.3);
        }
    }

    &--top,
    &--bottom {
        height: 90%;
        max-height: 800px;
        width: 100vw;
    }

    &--top {
        top: 0;
        transform: translateY(-100%);

        &.drawer--open {
            box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.3);
        }
    }

    &--bottom {
        bottom: 0;
        transform: translateY(100%);

        &.drawer--open {
            box-shadow: -10px 0 20px 0 rgba(0, 0, 0, 0.3);
        }
    }

    /* Drawer sizes */
    &--full-width {
        max-width: 100%;
        width: 100%;
    }

    &--full-height {
        max-height: 100%;
        height: 100%;
    }

    /* Drawer states */
    &--open {
        transform: translateX(0);
        transition: all 0.3s ease-out;
    }
}
