/* Link Bar
 *
 * Stacked on mobile, horizontal bar on desktop
 *
 */

 .link-bar {
    
    .link-bar__link {
        display: block;
        text-align: center;
        @apply py-2 text-gray-600;

        &:hover,
        &.active {
            @apply bg-brand-primary text-white;
        }
    }
    
    @screen md {
        display: flex;
        
        .link-bar__link {
            @apply border-b-4 border-transparent mr-6;

            &:last-child {
                margin-right: 0;
            }
            
            &:hover,
            &.active {
                @apply border-brand-primary bg-transparent text-brand-primary;
            }
        }
    }

    &--scroll {
        display: flex;
        white-space: nowrap;
        overflow-x: auto;
        -ms-overflow-style: none;  /* IE 10+ */
        overflow: -moz-scrollbars-none;  /* Firefox */

        &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }

        .link-bar__link {
            @apply border-b-4 border-transparent mr-6;

            &:last-child {
                margin-right: 0;
            }
            
            &:hover,
            &.active {
                @apply bg-white border-brand-primary text-brand-primary;
            }
        }
    }
}
