.panel {
    /* Defaults */
    background: white;
    @apply mb-4;

    &__header,
    &__action {
        @apply leading-none;
    }

    &__header,
    &__section,
    &__action {
        @apply py-6 px-8;

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }
    }

    /* Alternative panel styles */
    &--stroke {
        @apply border border-gray-200;

        .panel__header,
        .panel__section,
        .panel__action {
            @apply border-b border-gray-200;
        }
    }

    &--raise {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    }

    &--rounded {
        @apply rounded;

        > :first-child {
            @apply rounded-t;
        }

        > :last-child {
            @apply rounded-b;

            .panel__action:only-child {
                @apply rounded-b;
            }
        }
    }

    /* Actions */
    &__action {
        display: block;
        cursor: pointer;
        color: inherit;
        position: relative;

        .panel__action-text {
            text-align: left;
            display: flex;
            align-items: center;
        }

        .panel__action-icon {
            position: absolute;
            top: 50%;
            margin-top: -22px;
            right: 24px;
            height: 44px;
            width: 44px;
            line-height: 44px;
            text-align: center;
            font-size: 2rem;
        }
    }

    /* Headers and sections in different panel styles */
    &--fill-light,
    &--fill-dark,
    &--fill-contrast {
        .panel__header,
        .panel__section,
        .panel__action {
            margin-bottom: 1px;
        }

        .panel__action {
            &:hover {
                opacity: 0.8;
            }
        }
    }

    /* Fill all sections in a panel with the same background color */
    &--fill-light {
        .panel__header,
        .panel__section,
        .panel__action {
            @apply bg-gray-100;
        }
    }

    /* Handle dark filled panels */
    &--fill-contrast {
        @apply text-white;

        .panel__action {
            @apply text-white;
        }
    }

    &--fill-dark {
        .panel__header,
        .panel__section,
        .panel__action {
            @apply bg-gray-200;
        }
    }

    &--fill-brand {
        .panel__header,
        .panel__section,
        .panel__action {
            @apply bg-brand-primary;
        }
    }

    &--fill-brand-gourmet {
        .panel__header,
        .panel__section,
        .panel__action {
            @apply bg-brand-gourmet;
        }
    }

    &--fill-contrast {
        .panel__header,
        .panel__section,
        .panel__action {
            @apply bg-brand-primary-dark-2;
        }
    }
}

/* Individual panel sections */
.panel__header,
.panel__section,
.panel__action {
    /* Section density */
    &--flush {
        @apply p-0;
    }

    .panel--loose &,
    &--loose {
        @apply p-8;
    }

    /* Styles */
    &--stroke {
        @apply border border-gray-200;
    }

    &--raise {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
        @apply z-shell;
    }

    &--fill-light {
        @apply bg-gray-200;
    }

    &--fill-dark {
        @apply bg-gray-800 text-white;
    }

    &--fill-contrast {
        @apply bg-brand-primary-dark-2 text-white;
    }
}



/* Collapsible Panels */
.collapsible {

    &.collapsed {
        /* Is this the only collapsible in a rounded panel, make it rounded on all edges when collapsed */
        &.panel--rounded.single-collapsible {
            > .panel__action {
                @apply rounded;
            }
        }
        
        .collapsible__content {
            display: none;
        }

        .collapsible__icon {
            transform: rotateX(180deg);
        }
    }

}

.panel--stroke .panel__section.collapsible.collapsed {
    border: none;
}
