@screen lg {
    .slide-up-overlay {
        &__title {
            box-shadow: 0 0 0 0 var(--color-brand-primary) inset;
            transition: all 0.2s ease;
        }
    
        &__product {
            background-size: 155%;
            opacity: 1;
            background-position: center;
            /* transform: scale3d(1,1,1); */
            transition: all 0.2s ease;
        }

        &__description {
            background: transparent;
            bottom: 0;
            opacity: 0;
            transform: translateY(100%);
            transition: all 0.2s ease;
        }
        
        &:hover {
            .slide-up-overlay__content {
                background-color: black; 
            }

            .slide-up-overlay__title {
                background-color: rgba(255,255,255,0.2);
                /* box-shadow: 0px -3px 0 0 var(--color-brand-primary) inset; */
            }
    
            .slide-up-overlay__product {
                opacity: 0.6;
                /* transform: scale3d(1.01,1.01,1.01); */
                background-size: 140%;
            }
    
            .slide-up-overlay__description {
                background: rgba(0,0,0,0.6);
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}
