---
layout: page
meta_title: Color
meta_description: Color guidelines
title: Color
section: Brand
tag: brand
---

<h2 class="section-heading">BUNN Corporate</h2>
<div class="flex flex-wrap mb-4 pb-8">
    {% for color in corporate %}
    <div class="w-1/2 md:w-1/3 my-4 px-2">
        <div class="mx-auto rounded shadow">
            <div class="h-32 w-full rounded-t {{ color.swatch }}"></div>
            <div class="rounded-b text-center text-sm-1 p-2">
                {{color.name}}
            </div>
        </div>
        <div class="font-mono text-sm-1 text-grey-300 block text-center py-2">
            {{color.hex}}<br>
            {{color.hsla}}
        </div>
    </div>
    {% endfor %}
</div>

<h2 class="section-heading">BUNN Gourmet</h2>
<div class="flex flex-wrap mb-4 pb-8">
    {% for color in gourmet %}
    <div class="w-1/2 md:w-1/3 my-4 px-2">
        <div class="mx-auto rounded shadow">
            <div class="h-32 w-full rounded-t {{ color.swatch }}"></div>
            <div class="rounded-b text-center text-sm-1 p-2">
                {{color.name}}
            </div>
        </div>
        <div class="font-mono text-sm-1 text-grey-300 block text-center py-2">
            {{color.hex}}<br>
            {{color.hsla}}
        </div>
    </div>
    {% endfor %}
</div>

<h2 class="section-heading">Greys</h2>
<div class="flex flex-wrap mb-4 pb-8">
    {% for color in greys %}
    <div class="w-1/2 md:w-1/3 my-4 px-2">
        <div class="mx-auto rounded shadow">
            <div class="h-32 w-full rounded-t {{ color.swatch }}"></div>
            <div class="rounded-b text-center text-sm-1 p-2">
                {{color.name}}
            </div>
        </div>
        <div class="font-mono text-sm-1 text-grey-300 block text-center py-2">
            {{color.hex}}<br>
            {{color.hsla}}
        </div>
    </div>
    {% endfor %}
</div>

<h2 class="section-heading">Status</h2>
<div class="flex flex-wrap mb-4 pb-8">
    {% for color in status %}
    <div class="w-1/2 md:w-1/3 my-4 px-2">
        <div class="mx-auto rounded shadow">
            <div class="h-32 w-full rounded-t {{ color.swatch }}"></div>
            <div class="rounded-b text-center text-sm-1 p-2">
                {{color.name}}
            </div>
        </div>
        <div class="font-mono text-sm-1 text-grey-300 block text-center py-2">
            {{color.hex}}<br>
            {{color.hsla}}
        </div>
    </div>
    {% endfor %}
</div>
