---
layout: page
meta_title: Logos
meta_description: Logo guidelines
title: Logos
section: Brand
tag: brand
---

<p>The variety of devices, screen sizes, and display resolutions makes quality scalability and responsiveness essential in providing your digital audience with an optimal experience. We recommend using SVG images for the benefits of scalability, ease of editing, performance, and search engine optimization. When SVG is not supported we recommend using transparent PNGs for identiy and branding artwork.</p>

<h2>Corporate Logo</h2>

<div class="md:flex mb-8">
    <div class="mx-2 w-full md:w-1/2 pr-1 mb-4 md:mb-0">
        <div class="panel panel--stroke">
            <div class="panel__section py-12">
                {% include 'svg/bunn-logo-horiz-light.njk' %}
            </div>
            <div class="panel__section panel__section--fill-light text-center">
                <a href=""><i class="fa fa-download"></i> PNG</a>
            </div>
        </div>
    </div>
    <div class="mx-2 w-full md:w-1/2 pr-1 mb-4 md:mb-0">
        <div class="panel panel--stroke">
            <div class="panel__section py-12 bg-grey-800">
                {% include 'svg/bunn-logo-horiz-dark.njk' %}
            </div>
            <div class="panel__section panel__section--fill-light text-center">
                <a href=""><i class="fa fa-download"></i> PNG</a>
            </div>
        </div>
    </div>
</div>

<h2>Logo mark</h2>

<div class="md:flex mb-8">
    <div class="mx-2 w-full md:w-1/2 pr-1 mb-4 md:mb-0">
        <div class="panel panel--stroke">
            <div class="panel__section py-12">
                {% include 'svg/bunn-logo-mark-light.njk' %}
            </div>
            <div class="panel__section panel__section--fill-light text-center">
                <a href=""><i class="fa fa-download"></i> PNG</a>
            </div>
        </div>
    </div>
    <div class="mx-2 w-full md:w-1/2 pr-1 mb-4 md:mb-0">
        <div class="panel panel--stroke">
            <div class="panel__section py-12 bg-grey-800">
                {% include 'svg/bunn-logo-mark-dark.njk' %}
            </div>
            <div class="panel__section panel__section--fill-light text-center">
                <a href=""><i class="fa fa-download"></i> PNG</a>
            </div>
        </div>
    </div>
</div>

