---
layout: page
meta_title: Trademark
meta_description: Trademark
title: Trademark
section: Brand
tag: brand
---

<p>You can view the BUNN trademark list and style guide <a href="" target="_blank" class="text-grey-500 hover:text-grey-900 underline">here</a>.</p>

<p>These Usage Terms, including the Bunn-O-Matic
    Corporation Graphics Standards, summarize your responsibilities in properly using any Bunn-O-Matic
    trademark, including the downloadable logos above (the "Logos"). These Usage Terms constitute a binding
    contract, and it is very important that you read, understand, and comply with your obligations under
    these terms. Doing so will protect the value of the Bunn-O-Matic brand for you, us, and other users by
    insuring that consumers know they can expect the quality and support they have come to expect from the
    Bunn-O-Matic name.</p>

<ol>
    <li class="my-4">Usage. You are permitted to use our trademarks and Logos (collectively "Trademarks") in
        brochures, websites, advertisements, and other marketing-related publications for the limited
        purpose of advertising Bunn-O-Matic products and accessories that you sell and services that you
        provide that make use of our products, subject to the restrictions contained herein.
    </li>
    <li class="my-4">Ownership and Marking. Bunn-O-Matic remains the owner of all copyrights and other
        rights in the Trademarks and all use shall inure to our benefit. Your use of any Trademark must be
        accompanied by a statement indicating such Trademark is a trademark of Bunn-O-Matic Corporation. You
        must use the appropriate ™ or ® symbol with every Trademark.
    </li>
    <li class="my-4">Scope of Use. You must not use the Trademarks in any way that would confuse consumers
        as to who offers your products and services, or as to the relationship between you and Bunn-O-Matic.
        A Trademark may not be used in any manner that might imply that any non-Bunn-O-Matic materials,
        including but not limited to goods, services, websites, or publications are sponsored, endorsed,
        licensed by, or affiliated with us. You may not mimic or make use of our product packaging, design,
        website or advertising in any way that may cause consumer confusion as to the source of your or our
        products and services. You may not use the Trademarks in any parody of Bunn-O-Matic, our products,
        or our trademarks or other intellectual property. You may not use the Trademarks in any way that
        would disparage us or our reputation and goodwill. You must never use a Trademark so that it appears
        with any other symbol or icon (except the appropriate trademark indicator); is contained within a
        box, circle, or other shape; or is combined with any other name, logo, or icon to create a
        co-branded logo.
    </li>
    <li class="my-4">Use of Logos. You may only use the Logos exactly as provided for download and in
        accordance with the Bunn Corporation Graphics Standards set forth below.
    </li>
    <li class="my-4">Relationship Between You and Us. The permission granted herein does not create an
        agency, employment, joint venture, or partnership relationship between us and you. You may not use
        the Trademarks in any way that might mislead consumers into believing that such a relationship
        exists. Such uses include, but are not limited to, combining a Trademark with another logo or
        emblem, displaying a Trademark in a position of prominence, or using the Bunn-O-Matic name in a
        manner other than to indicate that we manufacture authentic Bunn-O-Matic products that you sell.
    </li>
    <li class="my-4">Changes and Objections. Bunn-O-Matic reserves the right in our discretion to terminate
        or modify permission to display the Trademarks, and may request that you modify or delete any use of
        a Trademark that, in our judgment, does not comply with these Usage Terms, or that might otherwise
        impair our rights in the Trademark, and you agree to comply with such changes and requests. We
        further reserve the right to object to unfair uses or misuses of our Trademarks or other violations
        of applicable law.
    </li>
</ol>


<h3>Copy Guidelines</h3>
<p>The BUNN logo should never be crowded, hindered, or merged with another object, graphic, or copy surrounding it. Keep a minimum clear zone of two times the height of the rule line around all sides of the logo.</p>

<p>When referring to the company or its products in copy use "BUNN" in all caps. The company may also be referred to as "Bunn-O-Matic"; however, the word "Bunn" should not be in all caps when used in this way (example of incorrect usage "BUNN-O-Matic").</p>

<p>The first reference to BUNN should include a ® symbol (BUNN®); however, this symbol is not required in subsequent references.</p>
