---
layout: page
meta_title: Typography
meta_description: Typography guidelines
title: Typography
section: Brand
tag: brand
---

<h2 class="section-heading">Font weights</h2>

<div class="panel panel--stroke panel--rounded mb-8">
	<div class="panel__section">
		<div class="font-sans-light">Avenir Light</div>
	</div>
	{% highlight "html" %}<div class="font-sans-light">Avenir Light</div>{% endhighlight %}
</div>

<div class="panel panel--stroke panel--rounded mb-8">
	<div class="panel__section">
		<div class="font-sans-light-ital">Avenir Light Italic</div>
	</div>
	{% highlight "html" %}<div class="font-sans-light-ital">Avenir Light Italic</div>{% endhighlight %}
</div>

<div class="panel panel--stroke panel--rounded mb-8">
	<div class="panel__section">
		<div class="font-sans-regular">Avenir Regular</div>
	</div>
	{% highlight "html" %}<div class="font-sans-regular">Avenir Regular</div>{% endhighlight %}
</div>

<div class="panel panel--stroke panel--rounded mb-8">
	<div class="panel__section">
		<div class="font-sans-regular-ital">Avenir Regular Italic</div>
	</div>
	{% highlight "html" %}<div class="font-sans-regular-ital">Avenir Regular Italic</div>{% endhighlight %}
</div>

<div class="panel panel--stroke panel--rounded mb-8">
	<div class="panel__section">
		<div class="font-sans-medium">Avenir Medium</div>
	</div>
	{% highlight "html" %}<div class="font-sans-light">Avenir Medium</div>{% endhighlight %}
</div>

<div class="panel panel--stroke panel--rounded mb-8">
	<div class="panel__section">
		<div class="font-sans-medium-ital">Avenir Medium Italic</div>
	</div>
	{% highlight "html" %}<div class="font-sans-light">Avenir Medium Italic</div>{% endhighlight %}
</div>

<div class="panel panel--stroke panel--rounded mb-8">
	<div class="panel__section">
		<div class="font-sans-demi">Avenir Demi</div>
	</div>
	{% highlight "html" %}<div class="font-sans-demi">Avenir Demi</div>{% endhighlight %}
</div>

<div class="panel panel--stroke panel--rounded mb-8">
	<div class="panel__section">
		<div class="font-sans-demi-ital">Avenir Demi Italic</div>
	</div>
	{% highlight "html" %}<div class="font-sans-demi-ital">Avenir Demi Italic</div>{% endhighlight %}
</div>



<h2 class="section-heading">Text Sizes</h2>

<table class="border border-gray-200 w-full my-8 text-base">
	<tr>
		<th class="font-sans-medium text-left p-2 bg-gray-100 border-b border-gray-200">Utility class</th>
		<th class="font-sans-medium text-left p-2 bg-gray-100 border-b border-gray-200">Rems</th>
		<th class="font-sans-medium text-left p-2 bg-gray-100 border-b border-gray-200">Pixels</th>
		<th class="font-sans-medium text-left p-2 bg-gray-100 border-b border-gray-200">Typography class</th>
	</tr>
	<tr>
		<td class="text-left p-2 border-b border-gray-200">.text-sm-3</td>
		<td class="text-left p-2 border-b border-gray-200">0.625rem</td>
		<td class="text-left p-2 border-b border-gray-200">10px</td>
		<td class="text-left p-2 border-b border-gray-200">.milli</td>
	</tr>
	<tr>
		<td class="text-left p-2 border-b border-gray-200">.text-sm-2</td>
		<td class="text-left p-2 border-b border-gray-200">0.75rem</td>
		<td class="text-left p-2 border-b border-gray-200">12px</td>
		<td class="text-left p-2 border-b border-gray-200">.tiny</td>
	</tr>
	<tr>
		<td class="text-left p-2 border-b border-gray-200">.text-sm-1</td>
		<td class="text-left p-2 border-b border-gray-200">0.875rem</td>
		<td class="text-left p-2 border-b border-gray-200">14px</td>
		<td class="text-left p-2 border-b border-gray-200">.small</td>
	</tr>
	<tr>
		<td class="text-left p-2 border-b border-gray-200">.text-base</td>
		<td class="text-left p-2 border-b border-gray-200">1rem</td>
		<td class="text-left p-2 border-b border-gray-200">16px</td>
		<td class="text-left p-2 border-b border-gray-200"></td>
	</tr>
	<tr>
		<td class="text-left p-2 border-b border-gray-200">.text-body</td>
		<td class="text-left p-2 border-b border-gray-200">1.125rem</td>
		<td class="text-left p-2 border-b border-gray-200">18px</td>
		<td class="text-left p-2 border-b border-gray-200">.heading-epsilon</td>
	</tr>
	<tr>
		<td class="text-left p-2 border-b border-gray-200">.text-lg-1</td>
		<td class="text-left p-2 border-b border-gray-200">1.25rem</td>
		<td class="text-left p-2 border-b border-gray-200">20px</td>
		<td class="text-left p-2 border-b border-gray-200"></td>
	</tr>
	<tr>
		<td class="text-left p-2 border-b border-gray-200">.text-lg-2</td>
		<td class="text-left p-2 border-b border-gray-200">1.75rem</td>
		<td class="text-left p-2 border-b border-gray-200">28px</td>
		<td class="text-left p-2 border-b border-gray-200">.heading-delta</td>
	</tr>
	<tr>
		<td class="text-left p-2 border-b border-gray-200">.text-lg-3</td>
		<td class="text-left p-2 border-b border-gray-200">2rem</td>
		<td class="text-left p-2 border-b border-gray-200">36px</td>
		<td class="text-left p-2 border-b border-gray-200">.heading-gamma</td>
	</tr>
	<tr>
		<td class="text-left p-2 border-b border-gray-200">.text-lg-4</td>
		<td class="text-left p-2 border-b border-gray-200">2.75rem</td>
		<td class="text-left p-2 border-b border-gray-200">44px</td>
		<td class="text-left p-2 border-b border-gray-200">.heading-beta</td>
	</tr>
	<tr>
		<td class="text-left p-2 border-b border-gray-200">.text-lg-5</td>
		<td class="text-left p-2 border-b border-gray-200">3.4375rem</td>
		<td class="text-left p-2 border-b border-gray-200">55px</td>
		<td class="text-left p-2 border-b border-gray-200">.heading-alpha</td>
	</tr>
	<tr>
		<td class="text-left p-2 border-b border-gray-200">.text-display</td>
		<td class="text-left p-2 border-b border-gray-200">4.25rem</td>
		<td class="text-left p-2 border-b border-gray-200">68px</td>
		<td class="text-left p-2 border-b border-gray-200"></td>
	</tr>
	<tr>
		<td class="text-left p-2 border-b border-gray-200">.text-jumbo</td>
		<td class="text-left p-2 border-b border-gray-200">5.375rem</td>
		<td class="text-left p-2 border-b border-gray-200">86px</td>
		<td class="text-left p-2 border-b border-gray-200"></td>
	</tr>
</table>

<h2 class="section-heading">Headings</h2>

<div class="panel panel--stroke panel--rounded mb-8">
	<div class="panel__section">
		<h1 class="heading-alpha">Heading 1</h1>
		<span class="text-sm text-gray-400">.text-lg-5/.text-lg-5 (small/large)</span>
	</div>
	{% highlight "html" %}<h1 class="heading-alpha">Heading 1</h1>{% endhighlight %}
</div>

<div class="panel panel--stroke panel--rounded mb-8">
	<div class="panel__section">
		<h2 class="heading-beta">Heading 2</h2>
		<span class="text-sm text-gray-400">.text-lg-3/.text-lg-5 (small/large)</span>
	</div>
	{% highlight "html" %}<h2 class="heading-beta">Heading 2</h2>{% endhighlight %}
</div>

<div class="panel panel--stroke panel--rounded mb-8">
	<div class="panel__section">
		<h3 class="heading-gamma">Heading 3</h3>
		<span class="text-sm text-gray-400">.text-lg-2/.text-lg-4 (small/large)</span>
	</div>
	{% highlight "html" %}<h3 class="heading-gamma">Heading 3</h3>{% endhighlight %}
</div>

<div class="panel panel--stroke panel--rounded mb-8">
	<div class="panel__section">
		<h4 class="heading-delta">Heading 4</h4>
		<span class="text-sm text-gray-400">.text-lg-1/.text-lg-3 (small/large)</span>
	</div>
	{% highlight "html" %}<h4 class="heading-delta">Heading 4</h4>{% endhighlight %}
</div>

<div class="panel panel--stroke panel--rounded mb-8">
	<div class="panel__section">
		<h5 class="heading-epsilon">Heading 5</h5>
		<span class="text-sm text-gray-400">.text-lg-body/.text-lg-2 (small/large)</span>
	</div>
	{% highlight "html" %}<h5 class="heading-epsilon">Heading 5</h5>{% endhighlight %}
</div>

<div class="panel panel--stroke panel--rounded mb-8">
	<div class="panel__section">
		<h6 class="heading-zeta">Heading 6</h6>
		<span class="text-sm text-gray-400">.text-lg-base/.text-lg-body (small/large)</span>
	</div>
	{% highlight "html" %}<h6 class="heading-zeta">Heading 6</h6>{% endhighlight %}
</div>

<h2 class="section-heading">Text Margins</h2>

<h1 class="heading-alpha">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>

<p class="lede">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, aperiam reiciendis recusandae rem reprehenderit quos ipsam perspiciatis incidunt quisquam tenetur commodi ducimus consectetur consequuntur animi ratione.</p>

<h2 class="heading-beta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eius vero.</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem saepe soluta eaque hic illo est velit animi dolor incidunt ea! Hic fugiat ab harum vitae a ullam tenetur fuga, accusamus vel! Eaque fugit iure ab laudantium repellat porro accusantium facere nesciunt dolores in, dicta debitis necessitatibus illum aut, vero, amet labore atque maiores! Ipsa quia, nisi illo minus accusamus quam tempora cumque distinctio officia non! Hic, fugiat. Architecto mollitia eligendi consequatur praesentium ipsum. Numquam eaque at ullam dolores iusto aspernatur non cum! Reprehenderit perspiciatis porro sint adipisci facilis explicabo, culpa, sit dolore error earum ea molestias exercitationem, placeat quaerat harum!</p>

<h3 class="heading-gamma">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eius vero</h3>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quaerat magnam saepe. Omnis consequatur quasi dolorum obcaecati, aperiam expedita. Debitis?</p>

<ul class="list-disc pl-8">
	<li>Lorem ipsum dolor sit amet.</li>
	<li>Lorem ipsum dolor sit amet.</li>
	<li>Lorem ipsum dolor sit amet.</li>
	<li>Lorem ipsum dolor sit amet.</li>
	<li>Lorem ipsum dolor sit amet.</li>
</ul>

<h4 class="heading-delta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eius vero, vel deleniti cumque.</h4>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat cupiditate, nihil sint natus quia quod ratione ipsum quis repellendus cum at distinctio dolores molestias, nemo quasi, ullam omnis nulla temporibus facere. Laboriosam, facilis eos? Ipsum blanditiis, asperiores explicabo beatae facere, quae repellat minima vero magni debitis nihil officia nobis distinctio molestias eius. Beatae commodi in, nam qui placeat ipsum quasi culpa perspiciatis vitae doloribus enim nesciunt facilis, error amet necessitatibus.</p>

<h5 class="heading-epsilon">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eius vero, vel deleniti cumque dolore rem laborum obcaecati consequuntur aliquam.</h5>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat cupiditate, nihil sint natus quia quod ratione ipsum quis repellendus cum at distinctio dolores molestias, nemo quasi, ullam omnis nulla temporibus facere. Laboriosam, facilis eos? Ipsum blanditiis, asperiores explicabo beatae facere, quae repellat minima vero magni debitis nihil officia nobis distinctio molestias eius. Beatae commodi in, nam qui placeat ipsum quasi culpa perspiciatis vitae doloribus enim nesciunt facilis, error amet necessitatibus.</p>

<h6 class="heading-zeta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eius vero, vel deleniti cumque dolore rem laborum obcaecati consequuntur aliquam.</h6>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat cupiditate, nihil sint natus quia quod ratione ipsum quis repellendus cum at distinctio dolores molestias, nemo quasi, ullam omnis nulla temporibus facere. Laboriosam, facilis eos? Ipsum blanditiis, asperiores explicabo beatae facere, quae repellat minima vero magni debitis nihil officia nobis distinctio molestias eius. Beatae commodi in, nam qui placeat ipsum quasi culpa perspiciatis vitae doloribus enim nesciunt facilis, error amet necessitatibus.</p>
