/* Scale */
@variants responsive, group-hover, hover, focus {
    /* Default scale */
    .scale-100 {
        transform: scale3d(1,1,1);
    }

    /* Scale Down */
    .scale-050 {
        transform: scale3d(0.5,0.5,0.5);
    }
    .scale-060 {
        transform: scale3d(0.6,0.6,0.6);
    }
    .scale-070 {
        transform: scale3d(0.7,0.7,0.7);
    }
    .scale-080 {
        transform: scale3d(0.8,0.8,0.8);
    }
    .scale-090 {
        transform: scale3d(0.9,0.9,0.9);
    }

    /* Scale Up */
    .scale-101 {
        transform: scale3d(1.01,1.01,1.01);
    }
    .scale-102 {
        transform: scale3d(1.02,1.02,1.02);
    }
    .scale-103 {
        transform: scale3d(1.03,1.03,1.03);
    }
    .scale-110 {
        transform: scale3d(1.1,1.1,1.1);
    }
    .scale-120 {
        transform: scale3d(1.2,1.2,1.2);
    }
    .scale-130 {
        transform: scale3d(1.3,1.3,1.3);
    }
}

/* Transitions */
.transition-all-02s-linear {
    transition: all 0.2s linear;
}

.transition-all-02s-ease {
    transition: all 0.2s ease;
}
