/* TAILWIND BASE */
@import "tailwindcss/base";

/* VENDOR CSS */
@import "magnific-popup/dist/magnific-popup";
@import "owl.carousel/dist/assets/owl.carousel";
@import "owl.carousel/dist/assets/owl.theme.default";

/* DESIGN SYSTEM BASE */
@import "base/all";

/* TAILWIND COMPONENTS */
@import "tailwindcss/components";

/* DESIGN SYSTEM COMPONENTS */
@import "components/all";

/* DESIGN SYSTEM MODULES */
@import "modules/all";

/* DESIGN SYSTEM FEATURES  */
@import "features/all";

/* TAILWIND UTILITIES */
@import "tailwindcss/utilities";

/* Not sure what to do with these? */
.mfp-bg {
    @apply z-overlay;
    opacity:.7;
}
.mfp-wrap {
    @apply z-modal;
}
