<!doctype html>
<html lang="en" class="min-h-full antialiased">
<head>
	{# include our meta tags #}
	{% include "partials/meta.njk" %}
	{% include "partials/css.njk" %}
</head>

<body class="bg-white">
	
<div class="main relative bg-white" role="main">
	{% include "partials/header.njk" %}

	<div class="main flex-1 lg:pt-16">
		{{ content | safe }}
	</div>

</div>

{% include "partials/footer.njk" %}

{% include "partials/scripts.njk" %}


{% if section == 'Brand' %}
	{% set collection = collections.brandSorted %}
{% elif section == 'Components' %}
	{% set collection = collections.componentsSorted %}
{% endif %}

<div class="drawers js-drawers z-overlay">
    <div id="topic-menu" class="drawer js-drawer drawer--left z-menu">
        <div class="pl-6 fixed bg-white w-full h-16 top-0 z-shell flex justify-between items-center border-b border-gray-200">
            <div class="font-sans-medium leading-none flex-grow">{{ section }}</div>
            <button class="js-drawer-close-btn self-stretch h-16 px-6 flex items-center cursor-pointer z-shell"><i class="fal fa-times"></i></button>
        </div>
        <div class="js-topic-menu-drawer absolute h-full pt-16 w-full overflow-y-scroll scrolling-touch">
			<!-- Any content can go here -->
			<div class="js-topic-menu">
				<div class="p-6">
					{% for entry in collection  %}
						<a href="{{ entry.url }}" class="block py-1{% if page.url == entry.url %} text-brand-primary font-sans-demi{% else %} text-gray-700{% endif %}">{{ entry.data.title }}</a>
					{% endfor %}
				</div>
			</div>
        </div>
    </div>
</div>

<script>
	enquire.register("screen and (min-width: " + 768 + "px)", {
        setup: function() {
            $(".js-topic-menu").appendTo(".js-topic-menu-drawer");
        },
        match: function() {
            $(".js-topic-menu").appendTo(".js-topic-menu-sidebar");
        },
        unmatch: function() {
            $(".js-topic-menu").appendTo(".js-topic-menu-drawer");
        }
    });
</script>

<script>
	$(function() {
		$('.js-carousel1').owlCarousel({
			center: true,
			loop: true,
			margin: 10,
			nav: true,
			dotsClass: 'owl-dots h-8 flex items-center justify-center',
			dotClass: 'owl-dot',
			navContainer: '.js-carousel1-nav-container',
			navClass: [
				'owl-prev flex items-center px-4',
				'owl-next flex items-center px-4'
			],
			navText: [
				'<i class="fal fa-angle-left text-lg-2 md:text-lg-4"></i>',
				'<i class="fal fa-angle-right text-lg-2 md:text-lg-4"></i>'
			],
			responsive: {
				0: {
					items: 3,		
				},
				[BUNN.screens.md]: {
					items: 5,
				}
			}
		});

		$('.js-carousel2').owlCarousel({
			items: 1,
			loop: true,
			dotsClass: 'owl-dots absolute bottom-0 w-full h-8 flex items-center justify-center',
			dotClass: 'owl-dot',
			nav: true,
			navContainer: '.js-carousel2-nav-container',
			navClass: [
				'owl-prev flex items-center px-4',
				'owl-next flex items-center px-4'
			],
			navText: [
				'<i class="fal fa-angle-left text-lg-2 text-white md:text-lg-4"></i>',
				'<i class="fal fa-angle-right text-lg-2 text-white md:text-lg-4"></i>'
			],
		});
	});
</script>

</body>
</html>
