---
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en" class="min-h-full antialiased">
<head>
	{# include our meta tags #}
	{% include "partials/meta.njk" %}
	{% include "partials/head.njk" %}
</head>

<body class="bg-transparent">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDTZ246"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	
{{ content | safe }}

{% include "partials/scripts.njk" %}

</body>
</html>
