---
layout: default
---

<div class="w-full mx-auto bg-white md:flex md:items-stretch">
	<div class="hidden md:block md:border-r md:border-gray-200 md:flex-grow">
		<div class="js-topic-menu-sidebar md:pb-24">
			<!-- enquire inserts topic menu here -->
		</div>
	</div>

	<div class="w-full md:w-3/4 lg:w-4/5">
		<div class="max-w-6xl w-full m-auto p-8">
			
			<div class="pl-12 relative md:p-0">
				<button class="js-drawer-trigger md:hidden absolute py-2 px-3 border border-gray-200 leading-none mr-2 left-0 rounded" data-drawer="topic-menu">
					<i class="fa fa-bars text-brand-primary"></i>
				</button>
				<h1 class="heading-alpha md:block">{{ title }}</h1>
			</div>

			{{ content | safe }}
		</div>        
	</div>
</div>
