body.drawer-open {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.drawers {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    will-change: opacity;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);

    .drawer-open & {
        pointer-events: auto;
        opacity: 1;
    }
}

.drawer {
    position: absolute;
    transition: all 0.2s ease-in;
    will-change: transform;
    background: white;

    //Drawer styles
    &--dark {
        color: white;
        background: #2d2d2d;

        .drawer__header,
        .drawer__content,
        .drawer__footer {
            color: white;
        }

        .drawer__header {
            background: #2d2d2d;
            @apply border-b border-gray-200;
        }
    }

    // Drawer positions
    &--left,
    &--right {
        top: 0;
        width: 90%;
        max-width: 400px;
        height: 100vh;
    }

    &--left {
        left: 0;
        transform: translateX(-100%);

        &.drawer--open {
            box-shadow: 0 10px 20px 0 rgba(black, 0.3);
        }
    }

    &--right {
        right: 0;
        transform: translateX(100%);

        &.drawer--open {
            box-shadow: 0 -10px 20px 0 rgba(black, 0.3);
        }
    }

    &--top,
    &--bottom {
        height: 90%;
        max-height: 800px;
        width: 100vw;
    }

    &--top {
        top: 0;
        transform: translateY(-100%);

        &.drawer--open {
            box-shadow: 10px 0 20px 0 rgba(black, 0.3);
        }
    }

    &--bottom {
        bottom: 0;
        transform: translateY(100%);

        &.drawer--open {
            box-shadow: -10px 0 20px 0 rgba(black, 0.3);
        }
    }

    //Drawer sizes
    &--full-height {
        max-height: 100%;
        height: 100%;
    }

    //Drawer contents
    &__header {
        width: 100%;
        background: white;
        border-bottom: 1px solid #ddd;
        // @apply p-4 border-b border-gray-300 mb-2 fixed h-16 bg-white top-0 py-6 z-shell;

        + .drawer__content {
            padding-top: 4rem;
        }
    }

    &__content {
        overflow-y: scroll;
    }

    //Drawer states
    &--open {
        transform: translateX(0);
        transition: all 0.3s ease-out;
    }
}
