---
layout: iframe
---

<div class="absolute bottom-0 right-0 m-4 mb-6 rounded shadow-lg max-w-sm js-dismissible">
	<div class="p-8 flex items-start">
		<div class="pr-2 text-lg-2 text-affirm"><i class="fal fa-check-circle"></i></div>
		<div class="pl-2 pt-2 flex-grow text-gray-800 font-sans-medium">This is a basic notification with some example text</div>
	</div>
</div>
