.brand-logo {
    &__link {
        @apply block w-2/5 mx-auto;
        max-width: 15rem;
    }
}
.box-wrapper {
    @apply pt-2 pb-4;
    @screen md {
        @apply pt-4 pb-12;
    }
}
.box-container {
    @apply flex flex-wrap max-w-3xl mx-auto px-2;
    @screen md {
        @apply px-3;
    }
    @screen lg {
        @apply px-4;
    }
}
.brand-box {
    @apply w-full p-2;
    @screen md {
        @apply w-1/2;
    }
    @screen lg {
        @apply p-3;
    }
    &__inner {
        @apply bg-gray-100 w-full relative overflow-hidden text-left bg-no-repeat bg-cover;
        padding-top: 72.25%;
        &.commerical {
            background-image: url(https://resource.bunn.com/assets/web/drupal/corp-home/picture-1.jpg);
        }
        &.gourmet {
            background-image: url("https://resource.bunn.com/assets/web/drupal/corp-home/picture-4.jpg");
        }
        &.bunnserve {
            background-image: url("https://resource.bunn.com/assets/web/drupal/corp-home/picture-2.jpg");
        }
        &.home {
            background-image: url("https://resource.bunn.com/assets/web/drupal/corp-home/picture-3.jpg");
        }
    }

    &__content {
        @apply absolute inset-0 flex flex-col justify-between p-5;
        @screen md {
            @apply p-8;
        }
        @screen lg {
            @apply p-10;
        }
        @screen xl {
            @apply p-12;
        }

        h1 {
            @apply font-sans-regular text-lg-5 text-white leading-tight relative;
            span {
                @apply block my-1 text-lg-3;
                @screen sm {
                    @apply text-sm-1;
                }
                @screen md {
                    @apply text-lg-3;
                }
            }
            sup {
                font-size: 0.5em;
                vertical-align: super;
            }
        }

        p {
            @apply text-white leading-normal mb-3;
            @screen sm {
                @apply text-lg-4 mb-5;
            }
            @screen md {
                @apply text-lg-3 mb-3;
            }
            @screen lg {
                @apply text-lg-5 mb-5;
            }
            sup {
                font-size: 0.5em;
                vertical-align: super;
            }
        }

        footer {
            @apply text-left p-0;
        }

        button {
            @apply text-sm-1 bg-brand-primary text-white font-sans-demi m-0 rounded uppercase py-3 px-4 tracking-wider;

            &:hover {
                @apply bg-brand-primary-light-1;
            }
        }
    }
}
