---
layout: page
meta_title: Buttons
meta_description: Buttons
title: Buttons
section: Components
tag: components
---

<h2 class="section-heading">Button sizes</h2>

<div class="panel">
	<button class="btn btn--primary btn--large w-full mb-4 md:mb-0 md:w-auto">
		Button large
	</button>

	<button class="btn btn--primary w-full mb-4 md:mb-0 md:w-auto">
		Button base
	</button>

	<button class="btn btn--primary btn--small w-full mb-4 md:mb-0 md:w-auto">
		Button small
	</button>
</div>

{% highlight "html" %}
<button class="btn btn--primary btn--large w-full mb-4 md:mb-0 md:w-auto">
	Button large
</button>

<button class="btn btn--primary w-full mb-4 md:mb-0 md:w-auto">
	Button base
</button>

<button class="btn btn--primary btn--small w-full mb-4 md:mb-0 md:w-auto">
	Button small
</button>
{% endhighlight %}

<h2 class="section-heading">Button styles</h2>
<div class="panel">
	<button class="btn btn--primary w-full mb-4 md:mb-0 md:w-auto">
		Button primary
	</button>
	<button class="btn btn--outline w-full mb-4 md:mb-0 md:w-auto">
		Button outline
	</button>
	<button class="btn w-full mb-4 md:mb-0 md:w-auto">
		Button base
	</button>
</div>

{% highlight "html" %}
<button class="btn btn--primary w-full mb-4 md:mb-0 md:w-auto">
	Button primary
</button>
<button class="btn btn--outline w-full mb-4 md:mb-0 md:w-auto">
	Button outline
</button>
<button class="btn w-full mb-4 md:mb-0 md:w-auto">
	Button base
</button>
{% endhighlight %}

<h2 class="section-heading">Disabled Buttons</h2>
<div class="panel">
	<button class="btn btn--outline w-full mb-4 md:mb-0 md:w-auto" disabled>
		Button outline disabled
	</button>
	<button class="btn btn--primary w-full mb-4 md:mb-0 md:w-auto" disabled>
		Button primary disabled
	</button>
	<button class="btn btn--primary disabled w-full mb-4 md:mb-0 md:w-auto">
		Button primary disabled
	</button>
</div>

{% highlight "html" %}
<button class="btn btn--outline w-full mb-4 md:mb-0 md:w-auto" disabled>
	Button outline disabled
</button>
<button class="btn btn--primary w-full mb-4 md:mb-0 md:w-auto" disabled>
	Button primary disabled
</button>
<button class="btn btn--primary disabled w-full mb-4 md:mb-0 md:w-auto">
	Button primary disabled
</button>
{% endhighlight %}

<h2 class="section-heading">Buttons with icons</h2>

<div class="panel">
	<button class="btn btn--primary w-full mb-4 md:mb-0 md:w-auto">
		<i class="fas fa-download mr-1"></i> 
		Download file
	</button>

	<button class="btn btn--outline w-full mb-4 md:mb-0 md:w-auto">
		<i class="far fa-file-pdf mr-1"></i> 
		Download pdf
	</button>

	<button class="btn btn--base w-full mb-4 md:mb-0 md:w-auto">
		<i class="far fa-file-pdf mr-1"></i> 
		Download pdf
	</button>
</div>

{% highlight "html" %}
<button class="btn btn--primary w-full mb-4 md:mb-0 md:w-auto">
	<i class="fas fa-download mr-1"></i> 
	Download file
</button>

<button class="btn btn--outline w-full mb-4 md:mb-0 md:w-auto">
	<i class="far fa-file-pdf mr-1"></i> 
	Download pdf
</button>

<button class="btn btn--base w-full mb-4 md:mb-0 md:w-auto">
	<i class="far fa-file-pdf mr-1"></i> 
	Download pdf
</button>
{% endhighlight %}

<div class="panel">
	<p>Large variations</p>

	<button class="btn btn--primary btn--large w-full mb-4 lg:mb-0 lg:w-auto">
		<i class="fas fa-download mr-1"></i> 
		Download file
	</button>

	<button class="btn btn--outline btn--large w-full mb-4 lg:mb-0 lg:w-auto">
		<i class="far fa-file-pdf mr-1"></i> 
		Download pdf
	</button>

	<button class="btn btn--base btn--large w-full mb-4 lg:mb-0 lg:w-auto">
		<i class="far fa-file-pdf mr-1"></i> 
		Download pdf
	</button>
</div>

{% highlight "html" %}
<button class="btn btn--primary btn--large w-full mb-4 lg:mb-0 lg:w-auto">
	<i class="fas fa-download mr-1"></i> 
	Download file
</button>

<button class="btn btn--outline btn--large w-full mb-4 lg:mb-0 lg:w-auto">
	<i class="far fa-file-pdf mr-1"></i> 
	Download pdf
</button>

<button class="btn btn--base btn--large w-full mb-4 lg:mb-0 lg:w-auto">
	<i class="far fa-file-pdf mr-1"></i> 
	Download pdf
</button>
{% endhighlight %}
