---
layout: page
meta_title: Button Bars
meta_description: Button Bars
title: Button Bars
section: Components
tag: components
---

<h2 class="section-heading">Button Bar</h2>

<div class="btn-bar">
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary active">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
</div>

{% highlight "html" %}
<div class="btn-bar">
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary active">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
</div>
{% endhighlight %}

<h2 class="section-heading">Scrolling Button Bars</h2>

<div class="btn-bar btn-bar--scroll">
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary active">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
</div>

{% highlight "html" %}
<div class="btn-bar btn-bar--scroll">
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary active">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
</div>
{% endhighlight %}

<div class="btn-bar btn-bar--flush btn-bar--scroll">
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary active">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
</div>

{% highlight "html" %}
<div class="btn-bar btn-bar--flush btn-bar--scroll">
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary active">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
</div>
{% endhighlight %}

<h2 class="section-heading">Centered Button Bar</h2>

<div class="btn-bar justify-center">
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary active">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
</div>

{% highlight "html" %}
<div class="btn-bar justify-center">
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary active">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
</div>
{% endhighlight %}


<h2 class="section-heading">Outline buttons</h2>

<div class="btn-bar btn-bar--outline">
	<a href="" class="btn btn--outline">Button Text</a>
	<a href="" class="btn btn--outline active">Button Text</a>
	<a href="" class="btn btn--outline">Button Text</a>
	<a href="" class="btn btn--outline">Button Text</a>
</div>

{% highlight "html" %}
<div class="btn-bar btn-bar--outline">
	<a href="" class="btn btn--outline">Button Text</a>
	<a href="" class="btn btn--outline active">Button Text</a>
	<a href="" class="btn btn--outline">Button Text</a>
	<a href="" class="btn btn--outline">Button Text</a>
</div>
{% endhighlight %}


<h2 class="section-heading">Stroke buttons</h2>

<div class="btn-bar btn-bar--stroke">
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke active">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
</div>

{% highlight "html" %}
<div class="btn-bar btn-bar--stroke">
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke active">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
</div>
{% endhighlight %}


<h2 class="section-heading">Full width</h2>

<div class="btn-bar btn-bar--full">
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
</div>

{% highlight "html" %}
<div class="btn-bar btn-bar--full">
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
</div>
{% endhighlight %}


<h2 class="section-heading">Flush edges (no rounded buttons)</h2>

<p>Tip: Great for using with Panels. See examples using panels below.</p>

<div class="btn-bar btn-bar--flush">
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
</div>

{% highlight "html" %}
<div class="btn-bar btn-bar--flush">
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
	<a href="" class="btn btn--primary">Button Text</a>
</div>
{% endhighlight %}

<p>Works with single buttons too</p>

<div class="btn-bar btn-bar--flush">
	<a href="" class="btn btn--primary">Button Text</a>
</div>

{% highlight "html" %}
<div class="btn-bar btn-bar--flush">
	<a href="" class="btn btn--primary">Button Text</a>
</div>
{% endhighlight %}

<h2 class="heading-beta">Use with Panels</h2>

<div class="panel panel--stroke">
	<div class="panel__header">
		Panel Header
	</div>
	<div class="panel__section">
		I'm a panel section
	</div>
</div>
<div class="btn-bar btn-bar--flush btn-bar--stroke -mt-px">
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
</div>

{% highlight "html" %}
<div class="panel panel--stroke">
	<div class="panel__header">
		Panel Header
	</div>
	<div class="panel__section">
		I'm a panel section
	</div>
</div>
<div class="btn-bar btn-bar--flush btn-bar--stroke -mt-px">
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
</div>
{% endhighlight %}

<div class="panel panel--stroke">
	<div class="panel__header">
		Panel Header
	</div>
	<div class="panel__section">
		I'm a panel section
	</div>
</div>
<div class="btn-bar btn-bar--flush btn-bar--scroll btn-bar--stroke -mt-px">
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
</div>

{% highlight "html" %}
<div class="panel panel--stroke">
	<div class="panel__header">
		Panel Header
	</div>
	<div class="panel__section">
		I'm a panel section
	</div>
</div>
<div class="btn-bar btn-bar--flush btn-bar---scroll btn-bar--stroke -mt-px">
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
	<a href="" class="btn btn--stroke">Button Text</a>
</div>
{% endhighlight %}
