---
layout: page
meta_title: Cards
meta_description: Cards
title: Cards
section: Components
tag: components
---

<h2 class="section-heading">Media cards</h2>


<div class="flex flex-wrap -mx-4">
	<div class="w-full sm:w-1/2">
		<div class="b-card b-card--interactive">
			<a href="https://player.vimeo.com/video/267449763?autoplay=1&amp;title=0&amp;byline=0&amp;portrait=0" class="b-card__link js-video-popup">
				<div class="b-card__media" style="background-image: url(&quot;//resource.bunn.com/assets/web/hybris/img/brewing-basics/Cherry_or_Bean.png&quot;);"></div> 
				<div class="b-card__content">
					<i class="b-card__icon fas fa-play-circle"></i> 
					<span>Is it a Coffee Cherry or a Coffee Bean?</span>
				</div>
			</a>
		</div>
	</div>
	<div class="w-full sm:w-1/2">
		<div class="b-card b-card--interactive">
			<a href="https://player.vimeo.com/video/267449763?autoplay=1&amp;title=0&amp;byline=0&amp;portrait=0" class="b-card__link js-video-popup">
				<div class="b-card__media" style="background-image: url(&quot;//resource.bunn.com/assets/web/hybris/img/brewing-basics/Cherry_or_Bean.png&quot;);"></div> 
				<div class="b-card__content">
					<i class="b-card__icon fas fa-play-circle"></i> 
					<span>Is it a Coffee Cherry or a Coffee Bean?</span>
				</div>
			</a>
		</div>
	</div>
</div>

{% highlight "html" %}
<div class="b-card b-card--interactive">
	<a href="https://player.vimeo.com/video/267449763?autoplay=1&amp;title=0&amp;byline=0&amp;portrait=0" class="b-card__link js-video-popup">
		<div class="b-card__media" style="background-image: url(&quot;//resource.bunn.com/assets/web/hybris/img/brewing-basics/Cherry_or_Bean.png&quot;);"></div> 
		<div class="b-card__content">
			<i class="b-card__icon fas fa-play-circle"></i> 
			<span>Is it a Coffee Cherry or a Coffee Bean?</span>
		</div>
	</a>
</div>
{% endhighlight %}

<div class="flex flex-wrap -mx-4">
	<div class="w-full sm:w-1/2">
		<div class="b-card">
			<div class="b-card__media" style="background-image: url(&quot;//resource.bunn.com/assets/web/hybris/img/events/nacufs_2018.png&quot;);"></div> 
			<div class="p-6 relative">
				<span class="absolute top-0 left-0 bg-black text-white rounded-full uppercase font-sans-medium py-1 px-4 -mt-4 ml-4">July 12-13 2018</span> 
				<div class="font-sans-medium">INACUFS National Conference 2018</div> 
				<div>Providence, RI</div> 
				<div>Booth 266</div>
			</div>
		</div>
	</div>
	<div class="w-full sm:w-1/2">
		<div class="b-card">
			<div class="b-card__media" style="background-image: url(&quot;//resource.bunn.com/assets/web/hybris/img/events/nacufs_2018.png&quot;);"></div> 
			<div class="p-6 relative">
				<span class="absolute top-0 left-0 bg-black text-white rounded-full uppercase font-sans-medium py-1 px-4 -mt-4 ml-4">July 12-13 2018</span> 
				<div class="font-sans-medium">INACUFS National Conference 2018</div> 
				<div>Providence, RI</div> 
				<div>Booth 266</div>
			</div>
		</div>
	</div>
</div>

{% highlight "html" %}
<div class="b-card">
	<div class="b-card__media" style="background-image: url(&quot;//resource.bunn.com/assets/web/hybris/img/events/nacufs_2018.png&quot;);"></div> 
	<div class="p-6 relative">
		<span class="absolute top-0 left-0 bg-black text-white rounded-full uppercase font-sans-medium py-1 px-4 -mt-4 ml-4">July 12-13 2018</span> 
		<div class="font-sans-medium">INACUFS National Conference 2018</div> 
		<div>Providence, RI</div> 
		<div>Booth 266</div>
	</div>
</div>
{% endhighlight %}
