---
layout: page
meta_title: Carousels
meta_description: Carousels
title: Carousels
section: Components
tag: components
---

<h2 class="section-heading">Image carousel with multiple images</h2>

<div class="relative px-12 mb-8">
	<div class="owl-carousel js-carousel1">
		<div class="carousel-item">
			<img src="https://via.placeholder.com/200" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/200" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/200" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/200" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/200" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/200" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/200" alt="">
		</div>
	</div>
	<div class="js-carousel1-nav-container absolute inset-0 flex justify-between items-stretch mb-8"></div>
</div>


<div class="link-bar js-tabs justify-center">
	<a href="" class="link-bar__link w-auto js-tab active" data-tab-content="carousel1-HTML">HTML</a>
	<a href="" class="link-bar__link w-auto js-tab" data-tab-content="carousel1-javascript">Javascript</a>
</div>
<div class="js-tabs-content-container">
	<div class="js-tab-content py-4 active" id="carousel1-HTML">
{% highlight "html" %}
<div class="relative px-12">
	<div class="owl-carousel js-carousel1Classname">
		<div class="carousel-item">
			<img src="https://via.placeholder.com/200" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/200" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/200" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/200" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/200" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/200" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/200" alt="">
		</div>
	</div>
	<div class="js-carousel1Classname-nav-container absolute inset-0 flex justify-between items-stretch mb-8"></div>
</div>
{% endhighlight %}
	</div>
	<div class="js-tab-content py-4 hidden" id="carousel1-javascript">
{% highlight "javascript" %}
$('.js-carousel1Classname').owlCarousel({
	center: true,
	loop: true,
	margin: 10,
	nav: true,
	dotsClass: 'owl-dots h-8 flex items-center justify-center',
	dotClass: 'owl-dot',
	navContainer: '.js-carousel1Classname-nav-container',
	navClass: [
		'owl-prev flex items-center px-4',
		'owl-next flex items-center px-4'
	],
	navText: [
		'<i class="fal fa-angle-left text-lg-2 md:text-lg-4"></i>',
		'<i class="fal fa-angle-right text-lg-2 md:text-lg-4"></i>'
	],
	responsive: {
		0: {
			items: 3,		
		},
		[BUNN.screens.md]: {
			items: 5,
		}
	}
});
{% endhighlight %}
	</div>
</div>


<h2 class="section-heading">Image carousel with single image</h2>

<div class="relative mb-4">
	<div class="owl-carousel js-carousel2">
		<div class="carousel-item">
			<img src="https://via.placeholder.com/1090x450" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/1090x450" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/1090x450" alt="">
		</div>
	</div>
	<div class="js-carousel2-nav-container absolute inset-0 flex justify-between items-stretch z-shell"></div>
</div>



<div class="link-bar js-tabs justify-center">
	<a href="" class="link-bar__link w-auto js-tab active" data-tab-content="carousel2-HTML">HTML</a>
	<a href="" class="link-bar__link w-auto js-tab" data-tab-content="carousel2-javascript">Javascript</a>
</div>
<div class="js-tabs-content-container">
	<div class="js-tab-content py-4 active" id="carousel2-HTML">
{% highlight "html" %}
<div class="relative mb-4">
	<div class="owl-carousel js-carouselClassname">
		<div class="carousel-item">
			<img src="https://via.placeholder.com/1090x450" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/1090x450" alt="">
		</div>
		<div class="carousel-item">
			<img src="https://via.placeholder.com/1090x450" alt="">
		</div>
	</div>
	<div class="js-carouselClassname-nav-container absolute inset-0 flex justify-between items-stretch z-shell"></div>
</div>
{% endhighlight %}
	</div>
	<div class="js-tab-content py-4 hidden" id="carousel2-javascript">
{% highlight "javascript" %}
$('.js-carousel2Classname').owlCarousel({
	items: 1,
	loop: true,
	dotsClass: 'owl-dots absolute bottom-0 w-full h-8 flex items-center justify-center',
	dotClass: 'owl-dot',
	nav: true,
	navContainer: '.js-carousel2Classname-nav-container',
	navClass: [
		'owl-prev flex items-center px-4',
		'owl-next flex items-center px-4'
	],
	navText: [
		'<i class="fal fa-angle-left text-lg-2 md:text-lg-4"></i>',
		'<i class="fal fa-angle-right text-lg-2 md:text-lg-4"></i>'
	],
});
{% endhighlight %}
	</div>
</div>
