---
layout: page
meta_title: Icons
meta_description: Icons
title: Icons
section: Components
tag: components
---

<p>BUNN digital applications make use of the <a href="http://fontawesome.io">FontAwesome</a> icon library, as well as custom icons designed for specific uses.</p>

<h2 class="section-heading">Font Awesome Icon Library</h2>
<p>For websites, you can link to the FontAwesome Pro CDN</p>

{% highlight "html" %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-POYwD7xcktv3gUeZO5s/9nUbRJG/WOmV6jfEGikMJu77LGYO8Rfs2X7URG822aum" crossorigin="anonymous">
{% endhighlight %}

<h2 class="section-heading">Custom Icons</h2>
<p>More to come...</p>
