---
layout: page
meta_title: Link Bars
meta_description: Link Bars
title: Link Bars
section: Components
tag: components
---

<h2 class="section-heading">Link Bar</h2>

<div class="link-bar">
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link active">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
</div>

{% highlight "html" %}
<div class="link-bar">
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link active">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
</div>
{% endhighlight %}

<h2 class="section-heading">Link Bar Full Width</h2>

<div class="link-bar link-bar--full">
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link active">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
</div>

{% highlight "html" %}
<div class="link-bar link-bar--full">
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link active">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
</div>
{% endhighlight %}

<h2 class="section-heading">Link Bar with Horizontal Scroll</h2>

<div class="link-bar link-bar--scroll">
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link active">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
</div>

{% highlight "html" %}
<div class="link-bar link-bar--scroll">
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link active">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
</div>
{% endhighlight %}

<h2 class="section-heading">Link Bar Centered</h2>

<div class="link-bar justify-center">
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link active">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
</div>

{% highlight "html" %}
<div class="link-bar justify-center">
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link active">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
	<a href="" class="link-bar__link">Link Text</a>
</div>
{% endhighlight %}
