---
layout: page
meta_title: Panels
meta_description: Panels
title: Panels
section: Components
tag: components
---

<h2 class="section-heading">Basic Panel with stroked sections</h2>

<div class="panel panel--stroke">
	<div class="panel__header">
		Panel Header
	</div>
	<div class="panel__section">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum est expedita minus, necessitatibus omnis quisquam recusandae vel. Dicta doloribus earum praesentium ratione veniam. Delectus error eum libero reiciendis voluptate?
	</div>
</div>

{% highlight "html" %}
<div class="panel panel--stroke">
	<div class="panel__header">
		Panel Header
	</div>
	<div class="panel__section">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum est expedita minus, necessitatibus omnis quisquam recusandae vel. Dicta doloribus earum praesentium ratione veniam. Delectus error eum libero reiciendis voluptate?
	</div>
</div>
{% endhighlight %}

<h2 class="section-heading">Various panel section styles</h2>

<div class="panel panel--stroke">
	<div class="panel__header">
		Panel Header
	</div>
	<div class="panel__section">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum est expedita minus, necessitatibus omnis quisquam recusandae vel. Dicta doloribus earum praesentium ratione veniam. Delectus error eum libero reiciendis voluptate?
	</div>
	<div class="panel__section panel__section--fill">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum est expedita minus, necessitatibus omnis quisquam recusandae vel. Dicta doloribus earum praesentium ratione veniam. Delectus error eum libero reiciendis voluptate?
	</div>
	<div class="panel__section panel__section--fill-contrast">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum est expedita minus, necessitatibus omnis quisquam recusandae vel. Dicta doloribus earum praesentium ratione veniam. Delectus error eum libero reiciendis voluptate?
	</div>
	<div class="panel__section">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum est expedita minus, necessitatibus omnis quisquam recusandae vel. Dicta doloribus earum praesentium ratione veniam. Delectus error eum libero reiciendis voluptate?
	</div>
	<div class="panel__section panel__section--raise">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum est expedita minus, necessitatibus omnis quisquam recusandae vel. Dicta doloribus earum praesentium ratione veniam. Delectus error eum libero reiciendis voluptate?
	</div>
	<div class="panel__section panel__section--loose">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum est expedita minus, necessitatibus omnis quisquam recusandae vel. Dicta doloribus earum praesentium ratione veniam. Delectus error eum libero reiciendis voluptate?
	</div>
	<a href="" class="panel__action">
		<div class="panel__action-text">Lorem ipsum dolor sit amet</div>
		<div class="panel__action-icon"><i class="fal fa-angle-right"></i></div>
	</a>
	<div class="panel__section panel__section--loose">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum est expedita minus, necessitatibus omnis quisquam recusandae vel. Dicta doloribus earum praesentium ratione veniam. Delectus error eum libero reiciendis voluptate?
	</div>
</div>

<h2 class="section-heading">Panels with solid fills</h2>

<div class="panel panel--fill-light">
	<div class="panel__header">
		Panel Header
	</div>
	<div class="panel__section">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum est expedita minus, necessitatibus omnis quisquam recusandae vel. Dicta doloribus earum praesentium ratione veniam. Delectus error eum libero reiciendis voluptate?
	</div>
	<a href="" class="panel__action">
		<div class="panel__action-text">Lorem ipsum dolor sit amet</div>
		<div class="panel__action-icon"><i class="fal fa-angle-right"></i></div>
	</a>
</div>

<div class="panel panel--fill-dark">
	<div class="panel__header">
		Panel Header
	</div>
	<div class="panel__section">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum est expedita minus, necessitatibus omnis quisquam recusandae vel. Dicta doloribus earum praesentium ratione veniam. Delectus error eum libero reiciendis voluptate?
	</div>
	<a href="" class="panel__action">
		<div class="panel__action-text">Lorem ipsum dolor sit amet</div>
		<div class="panel__action-icon"><i class="fal fa-angle-right"></i></div>
	</a>
</div>

<div class="panel panel--fill-contrast panel--rounded">
	<div class="panel__header">
		Panel Header
	</div>
	<div class="panel__section">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum est expedita minus, necessitatibus omnis quisquam recusandae vel. Dicta doloribus earum praesentium ratione veniam. Delectus error eum libero reiciendis voluptate?
	</div>
	<a href="" class="panel__action">
		<div class="panel__action-text">Lorem ipsum dolor sit amet</div>
		<div class="panel__action-icon"><i class="fal fa-angle-right"></i></div>
	</a>
</div>

<h2 class="section-heading">Rounded Panel</h2>

<div class="panel panel--stroke panel--rounded">
	<div class="panel__header">
		Panel Header
	</div>
	<div class="panel__section panel__section--fill-light">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum est expedita minus, necessitatibus omnis quisquam recusandae vel. Dicta doloribus earum praesentium ratione veniam. Delectus error eum libero reiciendis voluptate?
	</div>
</div>

<h2 class="section-heading">Raised Panel</h2>

<div class="panel panel--stroke panel--raise">
	<div class="panel__header">
		Panel Header
	</div>
	<div class="panel__section">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum est expedita minus, necessitatibus omnis quisquam recusandae vel. Dicta doloribus earum praesentium ratione veniam. Delectus error eum libero reiciendis voluptate?
	</div>
</div>
