---
layout: page
meta_title: Slide-up Overlay
meta_description: Slide-up Overlay
title: Slide-up Overlay
section: Components
tag: components
---

<h2 class="section-heading">Slide-up Overlay</h2>

<a href="" class="block slide-up-overlay w-full overflow-hidden mb-px md:mb-px md:w-72 lg:relative h-180">
	<div class="bg-black flex flex-col h-full md:mx-px overflow-hidden">
		<div class="slide-up-overlay__title py-4 px-6 text-center text-white uppercase tracking-wider text-lg-1 font-sans-medium">
			Platinum
		</div>

		<div class="slide-up-overlay__product bg-none min-h-64 bg-no-repeat flex-grow relative text-center pt-8 lg:p-0" style="background-image: url(/images/placeholders/speed-brew-platinum.png);">
			<div class="absolute lg:static lg:hidden bg-black inset-0"></div>
			<img src="/images/placeholders/speed-brew-platinum.png" alt="" class="h-64 m-auto relative lg:hidden">
		</div>

		<div class="slide-up-overlay__description text-white lg:absolute">
			<div class="relative text-center lg:text-left p-8 pb-12 lg:pb-8">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem blanditiis ad velit obcaecati similique sunt sequi, doloribus delectus rerum mollitia dolorum, quo earum saepe incidunt eum ullam veritatis labore impedit?</p>
				
				<div class="text-center">
					<div class="btn btn--primary lg:w-full">Shop Platinum</div>
				</div>
			</div>
		</div>
	</div>
</a>
