---
layout: page
meta_title: Tabs
meta_description: Tabs
title: Tabs
section: Components
tag: components
---

<h2 class="section-heading">Tabs</h2>

<div class="btn-bar js-tabs">
	<a href="" class="btn btn--primary js-tab active" data-tab-content="tabs1_tab-content1">Tab Title</a>
	<a href="" class="btn btn--primary js-tab hidden" data-tab-content="tabs1_tab-content2">Tab Title</a>
	<a href="" class="btn btn--primary js-tab hidden" data-tab-content="tabs1_tab-content3">Tab Title</a>
	<a href="" class="btn btn--primary js-tab hidden" data-tab-content="tabs1_tab-content4">Tab Title</a>
</div>
<div class="js-tabs-content-container">
	<div class="js-tab-content p-8 active" id="tabs1_tab-content1">
		<h3 class="heading-gamma">Tab 1 Content</h3>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, laborum placeat assumenda hic aperiam, eius aut corrupti, non cum incidunt nisi molestiae id sunt. Id quae quo illum facere explicabo.</p>
	</div>
	<div class="js-tab-content p-8 hidden" id="tabs1_tab-content2">
		<h3 class="heading-gamma">Tab 2 Content</h3>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, laborum placeat assumenda hic aperiam, eius aut corrupti, non cum incidunt nisi molestiae id sunt. Id quae quo illum facere explicabo.</p>
	</div>
	<div class="js-tab-content p-8 hidden" id="tabs1_tab-content3">
		<h3 class="heading-gamma">Tab 3 Content</h3>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, laborum placeat assumenda hic aperiam, eius aut corrupti, non cum incidunt nisi molestiae id sunt. Id quae quo illum facere explicabo.</p>
	</div>
	<div class="js-tab-content p-8 hidden" id="tabs1_tab-content4">
		<h3 class="heading-gamma">Tab 4 Content</h3>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, laborum placeat assumenda hic aperiam, eius aut corrupti, non cum incidunt nisi molestiae id sunt. Id quae quo illum facere explicabo.</p>
	</div>
</div>

{% highlight "html" %}

{% endhighlight %}
