@import "syntax-highlighting";

.section-heading {
    @apply font-sans-medium pb-2 mt-4 border-b border-gray-200 mt-10 mb-4;
    line-height: 1.5rem;

    @screen lg {
        @apply pb-4 mt-20 mb-8;
    }
}

.inline-code {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 3px;
    background: #f0f0f0;
    color: #ea4079;
    font-family: monospace;
}
